{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
{% block titulo %}
Apartados
{% endblock %}
   {% block styles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>

   {% endblock %}
  {% block encabezado %}Apartados{% endblock %}
   {% block content %}
   <style>
   table tbody tr:hover {
   background-color: #CCD9DE;
   cursor: pointer;
   }
   </style>

       <form method="POST" class="post-form" id="formulario_anular" action="/Anulacion/Venta/">
         {% csrf_token %}
         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
               <label for="id_fecha_venta"><h6>Fecha de Venta:</h6> </label>{{ form_Venta.fecha_venta}}
           </div>
           <div class="col l6 m12 s12">
             <label for="venta_idventa"><h6>Numero Venta:</h6> </label>{{ form_DetalleVenta.venta_idventa}}
           </div>
         </div>


         <div class="row" style="margin-bottom: 0px;">
            <div class="col l4 m12 s12">
               <label for="id_nit_cliente"><h6>Nit de Cliente:</h6> </label>{{ form_Cliente.nit_cliente}}
            </div>
            <div class="col l4 m12 s12">
                <label for="id_nombres_persona"><h6>Nombres del cliente:</h6> </label>{{ form_persona.nombres_persona}}
            </div>
            <div class="col l4 m12 s12">
                <label for="id_nombres_persona"><h6>Apellidos del cliente:</h6> </label>{{ form_persona.apellidos_persona}}
            </div>
         </div>

         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
              <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Si dos o más datos no concuerdan entre sí, solo se buscará a uno de ellos, ignorando a cualquier otro" id="boton_buscar" type="button" onclick="buscar(this)" value="Buscar" name="btn_buscar"/>
           </div>
        </div>

         <div class="row">
           <table id="tabla_venta" class="grey lighten-2">
             <thead>
               <tr>
                   <th data-field="Número">Número</th>
                   <th data-field="Cliente">Cliente</th>
                   <th data-field="Fecha">Fecha</th>
                   <th data-field="Vendedor">Cod.Vendedor</th>
                   <!--th data-field="Cajero">Cod.Cajero</th-->
                   <th data-field="Total">Total</th>
                   <th data-field="Anotaciones">Anotaciones</th>
               </tr>
             </thead>
             <tbody>
             </tbody>
           </table>
         </div>
          <div class="row" style="margin-bottom: 0px;">
            <p class="blue-text text-darken-2">Número de venta seleccionada: <label id="lbl_venta" class="mietiqueta"></label></p>
          </div>
          <div class="divider"></div>
          <div class="row" style="margin-bottom: 0px;">
            <div id="bloque_tabla">
              <div class="col l12 m12 s12">
                <h5>Cuentas Por Cobrar</h5>
                <table id="tabla CuentaPorCobrar" class="grey lighten-2">
                  <thead>
                    <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                      <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodPCC</th>
                        <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodVent</th>
                        <th data-field="name" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">S.Inicial</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">S.Actual</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Estado</th>

                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
         <div class="divider"></div>
         <div class="divider"></div>
         <div id="bloque_caracteristicas_producto" style="background-color:#b3cccc;border-radius:10px;">
           <div class="row" margin-bottom: 0px;>
             <h5>Abonos</h5>
             <div class="col l6 m12 s12">

               <label for="id_bodega_idbodega"><h6>Monto</h6> </label>{{form_PCC.monto_pago_cuentaporcobrar}}
               <label for="id_bodega_idbodega"><h6>Tipo de pago</h6> </label>{{ form_PCC.tipo_pago_idtipo_pago}}
             </div>
             <div class="col l6 m12 s12">
               <table id="pagos cuentas por cobrar" class="grey lighten-2">
                 <thead>
                   <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                      <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodPago</th>
                     <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodPCC</th>
                       <th data-field="name" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Monto</th>
                        <th data-field="name" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Fecha</th>
                       <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodTPago</th>

                   </tr>
                 </thead>
                 <tbody>
                 </tbody>
             </table>

             </div>
           </div>

        </div>


         <div class="row" margin-bottom: 0px;>

           <div class="col l4 m12 s12">
            </br>
             <button type="submit" class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Se modificará ese detalle de la venta" id="boton_anular" name="btn_anular">Guardar Pago</button>
           </div>
         </div>


       </form>

   {% endblock %}
   {% block extra_scripts %}
   <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>


   <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
   {% endblock %}
