{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
   {% block styles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
   {% endblock %}
   {% block content %}
       <h5>Anular Venta</h5>
       <form method="POST" class="post-form">
         {% csrf_token %}
           {{ form_Venta.as_p }}
           {{ form_Cliente.as_p }}
           {{ form_DetalleVenta.as_p }}
           {{ form_empleado.as_p }}
           <button type="submit" class="save btn btn-default">Guardar</button>
       </form>
   {% endblock %}
