{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
{% block titulo %}
 Anular Venta
{% endblock %}
   {% block styles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>

   {% endblock %}
  {% block encabezado %}Anular Venta{% endblock %}
   {% block content %}




       <form method="POST" class="post-form">
         {% csrf_token %}
         <div class="row" style="margin-bottom: 0px;">
           <div class="col l12 m12 s12">
             <label for="fecha_venta"><h6>Fecha de Venta:</h6> </label>{{ form_Venta.fecha_venta}}
               <input type="date" class="datepicker" id="fecha_venta">

           </div>
         </div>


         <div class="row" style="margin-bottom: 0px;">
          <div class="col l6 m12 s12">
         <label for="nit_cliente"><h6>Nit de Cliente:</h6> </label>{{ form_Cliente.nit_cliente}}
           <label for="venta_idventa"><h6>Numero Venta:</h6> </label>{{ form_DetalleVenta.venta_idventa}}


          </div>
          <div class="col l6 m12 s12">
            <label for="nombres_persona"><h6>Nombre de Cliente:</h6> </label>{{ form_persona.nombres_persona}}

        </div>
         </div>

         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
           </div>
           <div class="col l6 m12 s12">
              <button type="submit" class=" btn btn-default">Buscar</button>
           </div>
        </div>

         <div class="row grey lighten-2">
           <table>
                   <thead>
                     <tr>
                         <th data-field="id">Name</th>
                         <th data-field="name">Item Name</th>
                         <th data-field="price">Item Price</th>
                     </tr>
                   </thead>

                   <tbody>
                     <tr>
                       <td>Alvin</td>
                       <td>Eclair</td>
                       <td>$0.87</td>
                     </tr>
                     <tr>
                       <td>Alan</td>
                       <td>Jellybean</td>
                       <td>$3.76</td>
                     </tr>
                     <tr>
                       <td>Jonathan</td>
                       <td>Lollipop</td>
                       <td>$7.00</td>
                     </tr>
                   </tbody>
                 </table>
         </div>
                <div class="row" style="margin-bottom: 0px;">
                  <p class="blue-text text-darken-2">Numero de venta seleccionada ####</p>
                </div>
         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
             <label for="id_empleado_idempleado"><h6>Empleado autoriza:</h6> </label>{{ form_Venta.empleado_idempleado}}
           </div>
           <div class="col l6 m12 s12">
             <label for="id_codigo_autorizacion_empleado"><h6>Codigo Autorizacion:</h6> </label>{{ form_empleado.codigo_autorizacion_empleado}}
           </div>
         </div>

          <!-- {{ form_Venta.as_p }}
           {{ form_Cliente.as_p }}
           {{ form_DetalleVenta.as_p }}
           {{ form_empleado.as_p }}-->
           <button type="submit" class="save btn btn-default">Anular</button>
       </form>

   {% endblock %}
