{% load staticfiles %}
<!DOCTYPE hmtl>
<html>
<head><!--cabeceras-->
<meta charset="utf-8">
<title>{% block titulo %}{% endblock %}</title><!--Titulo de la pagina-->

      <!--Font de google+iconos-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
      {% block styles %}
      {% endblock %}
      <!--Para movil-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style type="text/css">

      header, body, footer {
        padding-left: 240px;
      }

      @media only screen and (max-width : 992px) {
        header, body, footer {
          padding-left: 0;
        }
      }

      /*color de calendario*/
      .picker__date-display {
    background-color:#00bcd4 ;
  }
  .picker__weekday-display {
    background-color:#212121 ;
  }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color:#00bcd4 ;
  }

      </style>
</head>


<body><!--Cuerpo de pagina-->
  <!-- Barra de navegacion principal y para vista movil-->
            <nav>
            <div class="nav-wrapper cyan">
            <a href="#!" class="brand-logo center">{% block encabezado %}{% endblock %}</a>
            <ul class="right hide-on">
                    <li><a href="/cerrar/"><i class="material-icons">settings_power</i></a></li>
                  </ul>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav cyan collapsible data-collapsible="expandable"" id="mobile-demo">

                <li><!-- Primer Elemento-->
                  <div class="collapsible-header white-text text-white center-align">
                  <a href="{% url 'kadoshapp.views.ingreso_mercaderia' %}" class="white-text text-white waves-effect waves-light collection-item   center-align"> <h4>Kadosh</h4></a>
                    </div>

                </li><!-- Fin Primer Elemento-->

                <li><!-- Mercaderia-->
                  <div class="collapsible-header white-text text-white waves-effect waves-light">
                    <img class="responsive-img" src="{% static "imagenes/merca2.png" %}"> Mercaderia</div>
                  <div class="collapsible-body "><!-- Sub Elemntos--->
                    <div class="collection">
                    <a href="{% url 'kadoshapp.viewCompra.Compra' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Compra</a>
                    <a href="{% url 'kadoshapp.viewTrasladoMercaderia.TrasladoMercaderia' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Traslado de mercaderia</a>
                    <!--a href="{% url 'kadoshapp.viewPromocion.Promocion' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Ofertas</a-->
                    <!--a href="{% url 'kadoshapp.viewBusquedaMercaderia.BusquedaMerca' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Busqueda mercaderia</a-->
                    <a href="{% url 'kadoshapp.viewListadoProductos.Listado' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Listado productos</a>
                    <a href="{% url 'kadoshapp.viewPrecios.Precios' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Precios</a>
                    <a href="{% url 'kadoshapp.ViewProducto.CosasProducto' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Caracteristicas Producto</a>
                  </div>
                  </div>
                </li><!-- Fin -->

                <li><!-- Ventas-->
                  <div class="collapsible-header white-text text-white waves-effect waves-light">
                      <img class="responsive-img" src="{% static "imagenes/venta.png" %}">
                    Ventas</div>
                  <div class="collapsible-body"><!-- Sub Elemntos--->
                    <div class="collection">
                    <a href="{% url 'kadoshapp.viewPuntodeVenta.PuntoDeVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1  center-align">Realizar venta</a>
                    <a href= "{% url 'kadoshapp.viewAnularVenta.AnularVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Anular venta</a>
                    <a href="{% url 'kadoshapp.viewCierreCaja.CierreDeCaja' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Cierre de caja</a>
                    <a href="{% url 'kadoshapp.viewAsignarCaja.RegistrarGasto' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Registrar gasto</a>
                    <a href= "{% url 'kadoshapp.viewModificarVenta.ModificarVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Modificar venta</a>
                  </div>
                  </div>
                </li><!-- Fin-->


                <li><!-- Clientes-->
                  <div class="collapsible-header white-text text-white waves-effect waves-light">
                      <img class="responsive-img" src="{% static "imagenes/cliente.png" %}">
                    Personas</div>
                  <div class="collapsible-body"><!-- Sub Elemntos--->
                    <div class="collection">
                    <a href="{% url 'kadoshapp.viewCliente.registro_cliente' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Nuevo cliente</a>
                    <a href="{% url 'kadoshapp.viewModificarCliente.mod_cliente' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Modificar cliente</a>
                    <a href="{% url 'kadoshapp.viewEmpleados.Empleados' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Listado Empleados</a>
                    <a href="{% url 'kadoshapp.ViewTrabajador.registro_trabajador' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Nuevo Empleado</a>
                </div>
                  </div>
                </li><!-- Fin-->

                <li><!-- Reportes-->
                  <div class="collapsible-header white-text text-white waves-effect waves-light">
                      <img class="responsive-img" src="{% static "imagenes/reporte.png" %}">
                    Reportes</div>
                  <div class="collapsible-body"><!-- Sub Elemntos--->
                    <div class="collection">
                    <a href="{% url 'kadoshapp.ViewReporteVentas.Ventas' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Ventas</a>
                    <a href="{% url 'kadoshapp.viewReporteClientes.Clientes' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Clientes</a>
                    <a href="{% url 'kadoshapp.viewTablas.productos_lista' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Productos</a>
                  </div>
                  </div>
                </li><!-- Fin-->

                <li><!-- Inventarios-->
                  <div class="collapsible-header white-text text-white waves-effect waves-light">
                      <img class="responsive-img" src="{% static "imagenes/inventario.png" %}">
                    Inventarios</div>
                  <div class="collapsible-body"><!-- Sub Elemntos--->
                    <div class="collection">

                    <a href="{% url 'kadoshapp.viewInventario.Inventario' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Completo</a>
                  </div>
                  </div>
                </li><!-- Fin-->



                </ul>
            </div>
            </nav>
          </div>
        </div>
  <!-- Fin Barra de navegacion principal-->


<!-- contenido -->

<div class="row">

  <div class="col l3 m12 s12">
  <!--div class="col  m4 l3"-->
    <!-- Barra lateral-->
    <ul id="slide-out" class="side-nav fixed cyan collapsible z-depth-5 " data-collapsible="expandable">

      <li><!-- Primer Elemento-->
        <div class="collapsible-header white-text text-white center-align">
        <a href="{% url 'kadoshapp.views.ingreso_mercaderia' %}" class="white-text text-white waves-effect waves-light collection-item   center-align"> <h4>Kadosh</h4></a>
        </div>

      </li><!-- Fin Primer Elemento-->

      <li><!-- Mercaderia-->
        <div class="collapsible-header white-text text-white waves-effect waves-light">
          <img class="responsive-img" src="{% static "imagenes/merca2.png" %}"> Mercaderia</div>
        <div class="collapsible-body "><!-- Sub Elemntos--->
          <div class="collection">
          <a href="{% url 'kadoshapp.viewCompra.Compra' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Compra</a>
          <a href="{% url 'kadoshapp.viewTrasladoMercaderia.TrasladoMercaderia' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Traslado de mercaderia</a>
          <!--a href="{% url 'kadoshapp.viewPromocion.Promocion' %}" class="white-text text-white waves-effect waves-light collection-item  cyan lighten-1 center-align">Ofertas</a>
          <a href="{% url 'kadoshapp.viewBusquedaMercaderia.BusquedaMerca' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Busqueda mercaderia</a-->
          <a href="{% url 'kadoshapp.viewListadoProductos.Listado' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Listado productos</a>
          <a href="{% url 'kadoshapp.viewPrecios.Precios' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Precios</a>
          <a href="{% url 'kadoshapp.ViewProducto.CosasProducto' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align ">Caracteristicas Producto</a>
      </div>
        </div>
      </li><!-- Fin -->

      <li><!-- Ventas-->
        <div class="collapsible-header white-text text-white waves-effect waves-light">
            <img class="responsive-img" src="{% static "imagenes/venta.png" %}">
          Ventas</div>
        <div class="collapsible-body"><!-- Sub Elemntos--->
          <div class="collection">
          <a href="{% url 'kadoshapp.viewPuntodeVenta.PuntoDeVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1  center-align">Realizar venta</a>
          <a href= "{% url 'kadoshapp.viewAnularVenta.AnularVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Anular venta</a>
          <a href="{% url 'kadoshapp.viewCierreCaja.CierreDeCaja' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Cierre de caja</a>
          <a href="{% url 'kadoshapp.viewAsignarCaja.RegistrarGasto' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Registrar gasto</a>
          <a href= "{% url 'kadoshapp.viewModificarVenta.ModificarVenta' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Modificar venta</a>
        </div>
        </div>
      </li><!-- Fin-->


      <li><!-- Clientes-->
        <div class="collapsible-header white-text text-white waves-effect waves-light">
            <img class="responsive-img" src="{% static "imagenes/cliente.png" %}">
          Personas</div>
        <div class="collapsible-body"><!-- Sub Elemntos--->
          <div class="collection">
            <a href="{% url 'kadoshapp.viewCliente.registro_cliente' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Nuevo cliente</a>
            <a href="{% url 'kadoshapp.viewModificarCliente.mod_cliente' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Modificar cliente</a>
            <a href="{% url 'kadoshapp.viewEmpleados.Empleados' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Listado Empleados</a>
            <a href="{% url 'kadoshapp.ViewTrabajador.registro_trabajador' %}"  class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Nuevo Empleado</a>
        </div>
        </div>
      </li><!-- Fin-->

      <li><!-- Reportes-->
        <div class="collapsible-header white-text text-white waves-effect waves-light">
            <img class="responsive-img" src="{% static "imagenes/reporte.png" %}">
          Reportes</div>
        <div class="collapsible-body"><!-- Sub Elemntos--->
          <div class="collection">
            <a href="{% url 'kadoshapp.ViewReporteVentas.Ventas' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Ventas</a>
            <a href="{% url 'kadoshapp.viewReporteClientes.Clientes' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Clientes</a>
            <a href="{% url 'kadoshapp.viewTablas.productos_lista' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Productos</a>
        </div>
        </div>
      </li><!-- Fin-->

      <li><!-- Inventarios-->
        <div class="collapsible-header white-text text-white waves-effect waves-light">
            <img class="responsive-img" src="{% static "imagenes/inventario.png" %}">
          Inventarios</div>
        <div class="collapsible-body"><!-- Sub Elemntos--->
          <div class="collection">

          <a href="{% url 'kadoshapp.viewInventario.Inventario' %}" class="white-text text-white waves-effect waves-light collection-item cyan lighten-1 center-align">Completo</a>
        </div>
        </div>
      </li><!-- Fin-->


      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

<!-- Fin Barra lateral como menu-->
  </div>

  <div class="col l9 m12 s12">
  <!--div class="col s12 m8 l9"--><!-- Contenido Principal-->
    {% block content %}

    {% endblock %}
  </div><!--Fin contenido principal-->

</div>
<!--  FOOTER ->
 <footer class="page-footer cyan">

     <div class="container grey-text text-lighten-4">
       <span>Copyright © 2016 All rights reserved. Design and Developed by Marving Velasquez, Mario Juarez</span>

       </div>

 </footer>
   <! FIN FOOTER -->


<!--Importacion de script jQuery y materialize.js-->
<script type="text/javascript"  src= "{% static 'js/jquery-3.1.0.min.js' %}"></script>
 <!--'https://code.jquery.com/jquery-2.1.1.min.js'-->
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<!-- Funcion para hacer aparecer el boton responsive del menu-->
<script type="text/javascript">
//$(".button-collapse").sideNav();
$(".button-collapse").sideNav();

//funcion para desplegar sub-elementos de barra lateral
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
  //calendario
  $('.datepicker').pickadate({
    weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
    monthsShort: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    today: 'Hoy',
clear: 'Limpiar',
close: 'Cerrar',

    monthsFull: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
    format: 'd/mmmm/yyyy',
      selectYears: 150 // Creates a dropdown of 15 years to control year
    });
</script>

<!--Script para formularios de django-->
<!--script>
      $(function(){
        $('form.uniForm').uniform();
      });
    </script-->
</body>
{% block extra_scripts %}
{% endblock %}

</html>
