{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
{% block titulo %}
 Compras
{% endblock %}
<!--se añadió la fila anterior-->
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}
      {% block encabezado %}Compras{% endblock %}
    {% block content %}

        <form method="POST" class="post-form" enctype="multipart/form-data" id="formulario_compra" autocomplete="off">
          {% csrf_token %}
        <div id="bloque_encabezado" style="background-color:#eeeedd;border-radius:10px;">
          <div class="row" style="margin-bottom: 0px;">
              <div class="col l6 m12 s12">
                <div class="row" style="margin-bottom: 0px;">
                  <div class="col s6">
                    <label for="id_proveedor_idproveedor"><h6>Nombre Proveedor:</h6> </label>{{ form_Proveedor.nombre_proveedor}}
                    <label for="id_nit_proveedor"><h6>Nit Proveedor:</h6> </label>{{ form_Proveedor.nit_proveedor}}
                    <br/>
                  </div>
                  <div class="col s6">
                    <label for="id_proveedor_idproveedor"><h6>Proveedor:</h6> </label>{{ form_Compra.proveedor_idproveedor}}
                    </br>
                    <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Crear nuevo proveedor" id="boton_agregar_proveedor" type="button" onclick="agregar_proveedor(this)" value="Nuevo" name="btn_agregar_proveedor"/>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                  <div class="col s6">
                    <label for="id_nombre_casamatriz"><h6>Nombre casa matriz:</h6> </label>{{ form_casamatriz.nombre_casamatriz}}
                    <label for="id_nit_casamatriz"><h6>Nit casa matriz:</h6> </label>{{ form_casamatriz.nit_casamatriz}}
                    <br/>
                  </div>
                  <div class="col s6">
                    <label for="id_casa_matriz"><h6>Casa matriz:</h6> </label>{{ form_Compra.casa_matriz}}
                  </br>
                  <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Crear nueva casa matriz" id="boton_agregar_casamatriz" type="button" onclick="agregar_casamatriz(this)" value="Nueva" name="btn_agregar_casamatriz"/>
                  </div>
                </div>

              </div>
              <div  class="col l6 m12 s12">
                <div class="col s6">
                  <label for="id_numero_guia"><h6>Numero de guía:</h6> </label>{{ form_Compra.numero_guia}}
                  <label for="id_empleado_recibio"><h6>Empleado que recibió:</h6> </label>{{ form_Compra.empleado_recibio}}
                  <label for="id_empleado_reviso"><h6>Empleado que revisó:</h6> </label>{{ form_Compra.empleado_reviso}}
                  {{ form_Compra.entregada_compra}}
                  <label for="id_entregada_compra"><h6>Compra entregada</h6> </label>
                  <br/>
                  <br/>
                </div>
                <div class="col s6">
                  <label for="id_fecha_recepcion_compra"><h6>Fecha recepción:</h6> </label>{{ form_Compra.fecha_recepcion_compra}}
                  <!--input type="date" class="datepicker" id="fecha_recepcion_compra"-->
                  <label for="id_fecha_realizacion_compra"><h6>Fecha compra:</h6> </label>{{ form_Compra.fecha_realizacion_compra}}
                  <!--input type="date" class="datepicker" id="fecha_realizacion_compra"-->
                  {{ form_Compra.vrf_compra}}
                  <label for="id_vrf_compra"><h6>VRF</h6></label>
                </div>
            </div>
          </div>
        </div>
        <div id="bloque_caracteristicas_producto" style="background-color:#ddeee1;border-radius:10px;">
          <div class="row" style="margin-bottom: 0px;">
            <div  class="col l6 m12 s12">
              <div class="col s12">
                <label for="id_bodega_idbodega"><h6>Bodega:</h6> </label>{{ form_InventarioProducto.bodega_idbodega}}
              </div>
              <div class="col s6">
                <label for="id_cantidad_compra"><h6>Cantidad:</h6> </label>{{ form_Detallecompra.cantidad_compra}}
                <label for="id_codigoestilo_producto"><h6>Código estilo:</h6> </label>{{ form_Producto.codigoestilo_producto}}
                <label for="id_tipo_producto_idtipo_producto"><h6>Tipo:</h6> </label>{{ form_Producto.tipo_producto_idtipo_producto}}
                <label for="id_genero_idgener"><h6>Genero:</h6> </label>{{ form_Producto.genero_idgener}}
                <label for="id_talla_idtalla"><h6>Talla:</h6> </label>{{ form_Producto.talla_idtalla}}
              </div>
              <div class="col s6">
                  <label for="id_codigobarras_producto"><h6>Código de barras:</h6> </label>{{ form_Producto.codigobarras_producto}}
                  <label for="id_marca_id_marca"><h6>Marca:</h6> </label>{{ form_TipoProducto.marca_id_marca}}
                  <label for="id_estilo_idestilo"><h6>Estilo:</h6> </label>{{ form_Producto.estilo_idestilo}}
                  <label for="id_color_idcolor"><h6>Color:</h6> </label>{{ form_Producto.color_idcolor}}
                  <br/>
                  <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Se buscará el producto para evitar repetición de datos." id="boton_buscar_producto" type="button" onclick="buscar_producto(this)" value="Buscar" name="btn_buscar_producto"/>
              </div>
              <div class="col s12">
                <label for="id_nombre_producto"><h6>Nombre producto:</h6> </label>{{  form_Producto.nombre_producto}}
                <br/>
              </div>
            </div>
            <div class="col l6 m12 s12">
                  <label for="id_descripcion_producto"><h6>Descripción:</h6> </label>{{ form_Producto.descripcion_producto}}
                  <label for="id_nombre_fotografia"><h6>Nombre de la fotografía:</h6> </label>{{ form_fotografia.nombre_fotografia}}
                  <label for="id_ruta_fotografia"><h6>Ruta:</h6> </label>{{ form_fotografia.ruta_fotografia}}
                  <label for="id_costo_unitario_inventarioproducto"><h6>Valor parcial:</h6> </label>{{ form_Detallecompra.valor_parcial_compra}}
                  <br/>
                  <div class="divider"></div>
                  <div style="background-color:#e5dfcd;">
                    <label for="id_producto_codigo_producto"><h6>Resultado de la búsqueda:</h6> </label>{{  form_InventarioProducto.producto_codigo_producto}}<br/>
                  </div>
                  <div class="divider"></div>
                  <br/>
                  <br/>
                  <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="El producto se guardará al presionar este botón. Revise bien los datos." id="boton_agregar_producto" type="button" onclick="agregar_producto(this)" value="Agregar" name="btn_agregar_producto"/>
                  <br/>
            </div>
          </div>
          <br/>
        </div>
        <div class="row" style="margin-bottom: 0px;">
          <div  class="col l12 m12 s12">
              <table id="tabla_productos" class="grey lighten-2">
                <thead>
                  <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                      <th data-field="Cod" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod</th>
                      <th data-field="Cod.Barras" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod.Barras</th>
                      <th data-field="Producto" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Producto</th>
                      <th data-field="Cod.Estilo" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod.Estilo</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0px;">
          <div  class="col l6 m12 s12">
            <label for="id_tipo_pago_idtipo_pago"><h6>Tipo de pago:</h6> </label>{{ form_Compra.tipo_pago_idtipo_pago}}
          </div>
          <div  class="col l6 m12 s12">
            <br/>
            <button type="submit" class="save btn btn-default">Guardar</button>
          </div>
        </div>
      </form>

    {% endblock %}
    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">

    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/

      $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
        //Función que coloca el cursor en el textbox Nit del cliente, al momento de cargar la página
        //$('input#id_codigobarras_producto').focus(); //se accede al input con el id que está después de #, //.focus() indica que ahí se colocará el cursor
        $('#bloque_caracteristicas_producto').find('select').val(1);
        $('#id_producto_codigo_producto').empty();
        $('input#id_cantidad_compra').val(1);
        $('#id_jsonfield').css('display','None'); //ocultando el campo que enviará los datos JSON como texto
        $('input[type="checkbox"]').addClass("filled-in").addClass("filled-in"); //necesario para que se vean los checkbox
        //$('#id_producto_codigo_producto').empty();
      });

       click_ocultar_mostrar('check_mostrar',"#bloque_caracteristicas_producto");


       //Para que funcione el boton de eliminar producto
       function eliminar_fila(button){
         $('#tabla_productos').on('click', '#boton_eliminar', function(){
             $(this).closest ('tr').remove ();
            //sumar_valor_parcial(".suma_valor_parcial",'#id_total_venta');
         });
       }
       function agregar_proveedor(boton)
       {
         if($('#id_nombre_proveedor').val()==='' && $('#id_nit_proveedor').val()==='')
         {
           Materialize.toast('Debe escribir al menos un dato', 4000);
         }
         else{
            guardar_obtener_proveedor($('#id_nombre_proveedor').val(),$('#id_nit_proveedor').val(),'#id_proveedor_idproveedor','#id_nit_proveedor','#id_nombre_proveedor','0');
         }

       }

      function agregar_casamatriz(boton)
      {
        if($('#id_nombre_casamatriz').val()==='' && $('#id_nit_casamatriz').val()==='')
        {
          Materialize.toast('Debe escribir al menos un dato', 4000);
        }
        else{
          guardar_obtener_proveedor($('#id_nombre_casamatriz').val(),$('#id_nit_casamatriz').val(),'#id_casa_matriz','#id_nit_casamatriz','#id_nombre_casamatriz','1');
        }
      }

       //Función que realiza una acción al leer código de barras
       $( 'input#id_codigobarras_producto' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           $('#bloque_caracteristicas_producto').find('input text textarea').not('#boton_buscar_producto,#boton_agregar_producto,#id_codigobarras_producto').val('');
           $('#id_nombre_producto').val('');
           $('#id_codigoestilo_producto').val('');
           $('#id_valor_parcial_compra').val('');
           $('#bloque_caracteristicas_producto').find('select').not('#id_bodega_idbodega').val(1);
           $('#id_producto_codigo_producto').empty();
           obtener_producto('input#id_codigobarras_producto');
         }
       });

       function buscar_producto(boton){
         obtener_producto_caracteristicas('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_bodega_egreso','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener');
       }

       //Esta funcion agrega el producto resultado de la busqueda por caracteristicas, a la tabla de productos
       function agregar_producto(boton){
         if($('#id_valor_parcial_compra').val()===''){
           Materialize.toast('Debe colocar el valor parcial de la compra', 4000);
         }
         else{
           subir_imagen('#id_ruta_fotografia');
           $('#bloque_caracteristicas_producto').find('input text textarea').not('#boton_buscar_producto,#boton_agregar_producto,#id_codigobarras_producto').val('');
           $('#id_nombre_producto').val('');
           $('#id_codigoestilo_producto').val('');
           $('#id_codigobarras_producto').val('');
           $('#id_valor_parcial_compra').val('');
           $('#bloque_caracteristicas_producto').find('select').val(1);
           $('#id_producto_codigo_producto').empty();
         }

         /*
         var elegido=$('#id_producto_codigo_producto option:selected').text();
         var datos_producto=elegido.split('|');

         var cantidad=$('input#id_cantidad_venta').val();
         var valor_parcial=cantidad*parseFloat(datos_producto[4]);

         $('#tabla_productos > tbody:last-child').append('<tr>'+
                                                           '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+datos_producto[1]+'</td>'+
                                                           '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+cantidad+'</td>'+
                                                           '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+datos_producto[2]+'</td>'+
                                                           '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+datos_producto[4]+'</td>'+
                                                           '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;"> <input id="boton_eliminar" "type="button" onclick="eliminar_fila(this)" value="Eliminar" name="Eliminar" style="text-align: center; margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;"/> </td>'+
                                                         '</tr>');
         $('input#id_cantidad_venta').val(1);
         */
       }

       /*Espacio para Ajax
       ============================================================================*/
       function obtener_producto(codigo_buscado) {
           $.ajax({
               url : "/Buscar/Producto/Compra/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { codigobarras_producto : $(codigo_buscado).val()}, // Datos enviados con el request en formato JSON

               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                 //console.log('hola');
                   $("#tabla_productos > tbody").html("");
                   console.log(json);
                   if(json.length===0){
                     Materialize.toast('Ese producto no existe', 4000);
                   }
                   else{
                     $.each(json, function(key,value) {
                       //$('input#id_codigobarras_producto').val(value.codigobarras_producto);
                       $('#id_codigoestilo_producto').val(value.codigoestilo_producto);
                       $('#id_marca_id_marca').val(value.marca_id_marca__pk);
                       $('#id_tipo_producto_idtipo_producto').val(value.tipo_producto_idtipo_producto__pk);
                       $('#id_talla_idtalla').val(value.talla_idtalla__pk);
                       $('#id_estilo_idestilo').val(value.estilo_idestilo__pk);
                       $('#id_color_idcolor').val(value.color_idcolor__pk);
                       $('#id_genero_idgener').val(value.color_idcolor__pk);
                       $('#id_nombre_producto').val(value.nombre_producto);
                       $('#id_descripcion_producto').val(value.descripcion_producto);

                       console.log(value);
                       /*
                       $('#id_ruta_fotografia').text(value.productohasfotografia__fotografia_idfotografia__ruta_fotografia);
                       $('#tabla_productos > tbody:last-child').append('<tr onclick="seleccionar_fila(this)">'+
                                                                         '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                         '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.codigobarras_producto+'</td>'+
                                                                         '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.nombre_producto+'-'+value.marca_id_marca__nombre_marca+'-'+value.genero_idgener__nombre_genero+'-'+value.talla_idtalla__nombre_talla+'-'+value.color_idcolor__nombre_color+'</td>'+
                                                                         '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.codigoestilo_producto+'</td>'+
                                                                       '</tr>');
                      */
                     });
                   }
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           });
       };

           function obtener_producto_caracteristicas(codigo_buscado,codigo_estilo_buscar,bodega_que_vende,marca_buscar,tipo_buscar,talla_buscar,estilo_buscar,color_buscar,genero_buscar) {
               $.ajax({
                   url : "/Buscar/ProductoCaracteristicas/Compra/", // La URL que llama a la vista
                   type : "POST", // Metodo http para realizar el request (peticion al servidor)
                   data : { codigobarras_producto : $(codigo_buscado).val(), codigo_estilo_producto : $(codigo_estilo_buscar).val(), bodega_idbodega: $(bodega_que_vende+" option:selected").val(), marca_producto: $(marca_buscar+" option:selected").val(), tipo_producto: $(tipo_buscar+" option:selected").val(), estilo_producto: $(estilo_buscar+" option:selected").val(), color_producto: $(color_buscar+" option:selected").val(), talla_producto: $(talla_buscar+" option:selected").val(), genero_producto: $(genero_buscar+" option:selected").val()}, // Datos enviados con el request en formato JSON
                   success : function(json) {
                     $('#id_producto_codigo_producto').empty();
                     $('#id_producto_codigo_producto').append('<option value="">---------</option>');
                     if(json.length===0){
                       Materialize.toast('Ese producto no existe', 4000);
                     }
                     else{
                       $('#bloque_caracteristicas_producto').find('input text textarea').not('#boton_buscar_producto,#boton_agregar_producto,#id_codigobarras_producto').val('');
                       $('#id_nombre_producto').val('');
                       $('#id_codigoestilo_producto').val('');
                       $('#id_codigobarras_producto').val('');
                       $('#bloque_caracteristicas_producto').find('select').not('#id_bodega_idbodega').val(1);
                       Materialize.toast('Se obtuvieron resultados', 4000);
                       $.each(json, function(key,value) {
                         console.log(value);
                         $('#id_producto_codigo_producto').append('<option value='+value.pk+'>'+ value.pk  +'|'+ value.nombre_producto +'|'+ value.codigoestilo_producto +'|'+ value.marca_id_marca__nombre_marca +'|'+ value.talla_idtalla__nombre_talla +'|'+ value.color_idcolor__nombre_color+'|'+ value.genero_idgener__nombre_genero +'</option>');
                         });
                      }
                       /*
                       $('input#id_codigobarras_producto').val(value.codigobarras_producto);
                       $('#id_codigoestilo_producto').val(value.codigoestilo_producto);
                       $('#id_marca_id_marca').val(value.marca_id_marca__pk);
                       $('#id_tipo_producto_idtipo_producto').val(value.tipo_producto_idtipo_producto__pk);
                       $('#id_talla_idtalla').val(value.talla_idtalla__pk);
                       $('#id_estilo_idestilo').val(value.estilo_idestilo__pk);
                       $('#id_color_idcolor').val(value.color_idcolor__pk);
                       $('#id_genero_idgener').val(value.color_idcolor__pk);
                       $('#id_nombre_producto').val(value.nombre_producto);
                       $('#id_descripcion_producto').val(value.descripcion_producto);
                       $('#id_producto_codigo_producto').val(value.pk);
                       */


                     /*
                     $(id_producto_codigo_producto).empty();
                     $.each(json.consulta, function(key,value) {
                       $(id_producto_codigo_producto).append('<option value='+value.codigo_producto+'>'+ value.idInventario_producto +'|'+ value.codigo_producto +'|'+ value.nombre_producto +'|'+ value.codigoestilo_producto +'|'+ value.valor_precio +'</option>');
                       //console.log(value);
                     });
                     */
                   },

                   error : function(xhr,errmsg,err) {
                       $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                           " <a href='#' class='close'>&times;</a></div>");
                       console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                   }
               });
           };

           function subir_imagen(imagen){
             var data = new FormData($('form').get(0));
              $.ajax({
                  url: "/Subir/Imagen/",
                  type: "POST",
                  data: data,
                  cache: false,
                  processData: false,
                  contentType: false,
                  success: function(json){
                    console.log(json);
                  },
                  // Si el response no tuvo exito
                  error : function(xhr,errmsg,err) {
                      $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                          " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                      console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                  }
              });
           }

           function guardar_obtener_proveedor(nombreproveedor,nitproveedor,idproveedor,id_nit,id_nombre,matriz) {
               $.ajax({
                   url : "/Proveedor/AgregarObtener/", // La URL que llama a la vista
                   type : "POST", // Metodo http para realizar el request (peticion al servidor)
                   data : { nit:nitproveedor,proveedor:nombreproveedor,casa:matriz}, // Datos enviados con el request en formato JSON
                   success : function(json) {
                     console.log(json);
                     if (json==='Ha ocurrido un error. Intente de nuevo') {
                       alert(json);
                     }
                     else {
                       $(idproveedor).empty();
                       $(idproveedor).append('<option value="">---------</option>');
                       $.each(json, function(key,value) {
                         console.log(value);
                         $(idproveedor).append('<option value='+value.pk+'>'+ value.pk +' - '+ value.nombre_proveedor +'</option>');
                         //console.log(value);
                       });
                       $(idproveedor+' option:selected').attr('selected', false);
                       $(idproveedor+'  option:contains('+nombreproveedor+')').attr('selected', true);
                       $(id_nit).val('');
                       $(id_nombre).val('');
                     }
                   },

                   error : function(xhr,errmsg,err) {
                       $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                           " <a href='#' class='close'>&times;</a></div>");
                       console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                   }
               });
           };

    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
