{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
{% block titulo %}
Características del producto
{% endblock %}
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}">
    {% endblock %}
      {% block encabezado %}Características del producto{% endblock %}
    {% block content %}

        <form method="POST" class="post-form" id="form_caracteristicas">
          {% csrf_token %}


            <div class="row" style="margin-bottom: 0px;">
              <div  class="col l7 m12 s12">
                <div class"row">
                  <label for="nombre_color"><h6>Color</h6> </label>{{ form_color.nombre_color }}
                  <br/>
                </div>
                <div class"row">
                  <label for="nombre_estilo"><h6>Estilo</h6> </label>{{ form_estilo.nombre_estilo }}
                  <br/>
                </div>
                <div class"row">
                  <label for="nombre_genero"><h6>Genero</h6> </label>{{ form_genero.nombre_genero}}
                  <br/>
                </div>
                <div class"row">
                  <label for="nombre_marca"><h6>Marca</h6> </label>{{ form_marca.nombre_marca }}
                  <br/>
                </div>
                <div class"row">
                    <label for="nombre_talla"><h6>Talla</h6> </label>{{ form_talla.nombre_talla }}
                    <br/>
                </div>
                <div class"row">
                  <label for="nombre_tipoproducto"><h6>Tipo Producto</h6> </label>{{ form_tipo.nombre_tipoproducto}}
                  <br/>
                </div>
              </div>
              <div  class="col l5 m12 s12">
                <br/>
                <button  type="submit" class="save btn btn-default">Guardar</button>
              </div>
            </div>
        </form>

    {% endblock %}
    {% block extra_scripts %}
    <script type="text/javascript">
      $( document ).ready(function(){
        Materialize.toast('Todos los datos que escriba serán guardados a la vez', 3000,'',function(){Materialize.toast('Si los deja en blanco simplemente no se guardará nada', 3000);})
      });
      $("#form_caracteristicas input[type=text]").click(function(){
        Materialize.toast('Si al presionar guardar, los datos aparecen de nuevo, es porque estos ya existían', 5000);
      });
    </script>
    {% endblock %}
