{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
{% block titulo %}
 Empleados
{% endblock %}
<!--se añadió la fila anterior-->
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}

    {% block encabezado %}Empleados{% endblock %}

    {% block content %}
    <style>
    table tbody tr:hover {
    background-color: #CCD9DE;
    cursor: pointer;
    }
    </style>
    <form id="formulario_empleados" method="POST" class="post-form">
      {% csrf_token %}
      <div class="row" style="margin-bottom: 0px;">
        <div class="col l6 m12 s12">
        <label for="id_apellidos_persona"><h6>Apellidos del empleado:</h6> </label>{{ form_persona.apellidos_persona}}
        <label for="id_nombres_persona"><h6>Nombres del empleado:</h6> </label>{{ form_persona.nombres_persona}}
        <label for="id_puesto_idpuesto"><h6>Puesto: </h6> </label>{{ form_empleado.puesto_idpuesto}}
        <input class="save btn btn-default" id="boton_buscar_empleados" type="button" onclick="buscar_empleados(this)" value="Buscar" name="btn_buscar_empleados"/>
      </div>

        <div class="col l3 m12 s12">
        <p class="blue-text text-darken-2">Código empleado seleccionado: &nbsp;&nbsp; <label id="lbl_empleado" style="font-size:120%;"></label></p>
          <label for="id_puesto_recomendado"><h6>Nuevo puesto: </h6> </label>{{ form_puesto.puesto_idpuesto}}
        <input class="save btn btn-default" id="boton_cambiar_puesto" type="button" onclick="cambiar_puesto(this)" value="Cambiar" name="btn_cambiar_puesto"/>
        </div>

        <div class="col l3">
          <br/>
          <img id="id_fotografia_empleado" src="../../archivos/pantalonazul_pXNLcuF.jpg" alt="Fotografía del empleado" style="width:150px;height:200px;">
        <!--div class="card-panel teal">
        <span>Aqui se visualiza la foto del empleado recordar  darle un tama;o estandar a la imagen</span>
        </div-->

        </div>

      </div>

<div class="row" style="margin-bottom: 0px;">
  <div class="row grey lighten-2">
    <table id="tabla_empleados">
            <thead>
              <tr>
                 <th data-field="Cod">Cod</th>
                  <th data-field="Nombre">Nombre</th>
                  <th data-field="Puesto">Puesto</th>
                  <th data-field="Motivo de baja">Motivo de baja</th>
                  <th data-field="Fecha contratacion">Fecha contratacion</th>
                  <th data-field="Fecha baja">Fecha baja</th>
                  <th data-field="Ventas mes actual">Ventas mes actual</th>
                  <th data-field="ID Puesto" style="display:none;">ID Puesto</th>
                  <th data-field="Ruta fotografia" style="display:none;">Ruta fotografia</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
  </div>
</div>

    </form>
    {% endblock %}


    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">

    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/

        var puestoDefault=$('#id_puesto_idpuesto').html();
        //Similar al FormLoad
        $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
          //Función que coloca el cursor en el textbox Nit del cliente, al momento de cargar la página
          $('input#id_apellidos_persona').focus(); //se accede al input con el id que está después de #, //.focus() indica que ahí se colocará el cursor
        });

        //var cantidadDefault= $("input#id_cantidad_venta").html();

        //Para que funcione el boton de eliminar producto
        function eliminar_fila(button){
          $('#tabla_empleados').on('click', '#boton_eliminar', function(){
              $(this).closest('tr').remove();
              //sumar_valor_parcial(".suma_valor_parcial",'#id_total_venta');
          });
        }

        //Con esta funcion se buscan los productos de acuerdo a sus caracteristicas
        function buscar_empleados(boton){
          $("#tabla_empleados > tbody").html("");
          obtener_empleados('#id_nombres_persona','#id_apellidos_persona','#id_puesto_idpuesto');
        }

        function cambiar_puesto(boton){
          actualizar_puesto($('#lbl_empleado').text(),$('#id_puesto_recomendado option:selected').val());
        }
        //Llamando a la imagen con cada cambio en el dropdown de productos
        /*
        $( "#id_producto_codigo_producto" ).change(function() {
          //console.log($("#id_producto_codigo_producto option:selected").val());
            obtener_imagen_producto("#id_producto_codigo_producto");
            //alert( "Handler for .change() called." );
        });
        */
        /*
        $("tbody tr").click(function () {
          alert($(this).text());
          //$('.selected').removeClass('selected');
          //$(this).addClass("selected");
          //var product = $('.p',this).html();
        }
        */

        //Esta función se activa cuando se da clic sobre una fila
        function seleccionar_fila(fila){
          var datos = $(fila).find('td').get().map(function(cell) {
              return $(cell).html();
          });
          $('#lbl_empleado').text(datos[0]);
          $('#id_fotografia_empleado').attr("src", "../../archivos"+datos[7].substr(1));
          //var
          //console.log(datos);
          //alert($(fila).text());
        }
    /*Espacio para Ajax
    ============================================================================*/

        function obtener_empleados(buscar_nombres,buscar_apellidos,buscar_puesto) {
            $.ajax({
                url : "/Buscar/Empleados/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { nombres : $(buscar_nombres).val(), apellidos : $(buscar_apellidos).val(), puesto: $(buscar_puesto+" option:selected").val()}, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    //console.log(json)
                    $.each(json, function(key,value) {
                      //Se borra la tabla
                      $("#tabla_empleados > tbody").html("");
                      //Se llena la tabla con datos
                      $('#tabla_empleados > tbody:last-child').append('<tr onclick="seleccionar_fila(this)">'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;" class="id_empleado">'+value.pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.persona_idpersona__nombres_persona+' '+value.persona_idpersona__apellidos_persona+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.puesto_idpuesto__nombre_puesto+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.motivo_baja_empleado+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fecha_contratacion_empleado+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fecha_baja_empleado+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;display:none;">'+value.puesto_idpuesto__pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;display:none;">'+value.fotografia_empleado+'</td>'+
                                                                      '</tr>');
                    });
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };


        function actualizar_puesto(idempleado,idpuesto) {
            $.ajax({
                url : "/Cambiar/Puesto/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { empleado : idempleado, puesto : idpuesto}, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                  alert(json.respuesta);
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };

    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
