{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}
    {% block content %}
<div class="container">
        <h5>Ingreso Mercaderia Por Proveedor</h5>
        <form method="POST" class="post-form">
          {% csrf_token %}
    <div class="row">
    <div  class="col l6 m12 s12">
    <label for="proveedor_idproveedor"><h6>Nombre de Proveedor:</h6> </label>{{ form_Compra.proveedor_idproveedor}}
    <label for="compra_idcompra"><h6>Numero de compra:</h6> </label>{{ form_Detallecompra.compra_idcompra}}
<div class="grey lighten-2" >
    <table >
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
    <div  class="col l6 m12 s12">
    <div class="col  s6">
    <label for="codigo_producto"><h6>Codigo:</h6> </label>{{ form_Producto.codigo_producto}}
    <label for="cantidad_compra"><h6>Cantidad:</h6> </label>{{ form_Detallecompra.cantidad_compra}}
    <label for="genero_idgener"><h6>Genero:</h6> </label>{{ form_Producto.genero_idgener}}
    <label for="talla_idtalla"><h6>Talla:</h6> </label>{{ form_Producto.talla_idtalla}}
    </div>
    <div class="col s6">
    <label for="combo_idcombo"><h6>Combo:</h6> </label>{{ form_Producto.combo_idcombo}}
    <label for="marca_id_marca"><h6>Marca:</h6> </label>{{ form_TipoProducto.marca_id_marca}}
    <label for="estilo_idestilo"><h6>Estilo:</h6> </label>{{ form_Producto.estilo_idestilo}}
    <label for="color_idcolor"><h6>Color:</h6> </label>{{ form_Producto.color_idcolor}}
    </div>

    <div class="col s12">
      <label for="descripcion_producto"><h6>Descripcion:</h6> </label>{{ form_Producto.descripcion_producto}}
    </div>
    <div class="col s6">
      <label for="nombre_fotografia"><h6>Nombre Fotografia:</h6> </label>{{ form_fotografia.nombre_fotografia}}
      <label for="ruta_fotografia"><h6>Ruta:</h6> </label>{{ form_fotografia.ruta_fotografia}}
      <label for="costo_unitario_inventarioproducto"><h6>Costo:</h6> </label>{{ form_InventarioProducto.costo_unitario_inventarioproducto}}
    </div>
    <div class="col s6">
      <label for="bodega_idbodega"><h6>Bodega:</h6> </label>{{ form_anaquel.bodega_idbodega}}
      <label for="anaquel_idanaquel"><h6>Anaquel:</h6> </label>{{ form_InventarioProducto.anaquel_idanaquel}}
    </div>


    </div>

    <div class="col s12">
      <input type="checkbox" id="contado_compra" />


    <label for="contado_compra"><h6>Al contado</h6> </label>{{ form_Compra.contado_compra}}
    </div>

    </div>
           <!--{{ form_Producto.as_p }}
            {{ form_Detallecompra.as_p }}
            {{ form_TipoProducto.as_p }}
            {{ form_fotografia.as_p }}
            {{ form_InventarioProducto.as_p }}
            {{ form_anaquel.as_p }}
            {{ form_Compra.as_p }}-->

            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
</div>
    {% endblock %}
