{% extends 'kadoshapp/base.html' %}
{% block titulo %}
 Inicio
{% endblock %}
{% block styles %}
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Khula:700);

body {
  background: white;
}
.hidden {
  opacity:0;
}
.console-container {

  font-family:Khula;
  font-size:40px;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
@media screen and (max-width: 480px) {
  .console-container {

    font-family:Khula;
    font-size:20px;}
}
h5{
  color: white;
}
</style>
{% endblock %}
{% block extra_scripts %}

  <script type="text/javascript">
  //function([string1, string2],target id,[color1,color2])
 consoleText(['KADOSH BIENVENIDO', 'KADOSH BIENVENIDO', 'KADOSH BIENVENIDO'], 'text',['tomato','yellow','lightblue']);

function consoleText(words, id, colors) {
  if (colors === undefined) colors = ['#fff'];
  var visible = true;
  var con = document.getElementById('console');
  var letterCount = 1;
  var x = 1;
  var waiting = false;
  var target = document.getElementById(id)
  target.setAttribute('style', 'color:' + colors[0])
  window.setInterval(function() {

    if (letterCount === 0 && waiting === false) {
      waiting = true;
      target.innerHTML = words[0].substring(0, letterCount)
      window.setTimeout(function() {
        var usedColor = colors.shift();
        colors.push(usedColor);
        var usedWord = words.shift();
        words.push(usedWord);
        x = 1;
        target.setAttribute('style', 'color:' + colors[0])
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (letterCount === words[0].length + 1 && waiting === false) {
      waiting = true;
      window.setTimeout(function() {
        x = -1;
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (waiting === false) {
      target.innerHTML = words[0].substring(0, letterCount)
      letterCount += x;
    }
  }, 120)
  window.setInterval(function() {
    if (visible === true) {
      con.className = 'console-underscore hidden'
      visible = false;

    } else {
      con.className = 'console-underscore'

      visible = true;
    }
  }, 400)
}
  </script>
{% endblock %}
  {% block encabezado %}
  <div class='console-container'>
  <span id='text'>
  </span>
  <div class='console-underscore' id='console'>&#95;</div>
  </div>

  {% endblock %}
{% block content %}
<!--Vendedores-->
<div class="row" style="margin-bottom: 0px";>
    <div class="card horizontal light-green lighten-2">
      <div class="card-stacked">
        <div class="card-content">
          <h5>Vendedores</h5>
      <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

        </div>
      </div>
    </div>
</div>


<!--CLientes-->
<div class="row" style="margin-bottom: 0px";>
    <div class="card horizontal orange lighten-3">
      <div class="card-stacked">
        <div class="card-content">
          <h5>Clientes</h5>
      <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

        </div>
      </div>
    </div>
</div>


<!--Productos sin movimiento-->
<div class="row" style="margin-bottom: 0px";>
    <div class="card horizontal red lighten-3">
      <div class="card-stacked">
        <div class="card-content ">
          <h5>Productos sin movimiento</h5>
      <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

        </div>
      </div>
    </div>
</div>


 {% endblock content %}
