{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
   {% block styles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
   {% endblock %}
   {% block content %}
   <div class="container">
       <h5>Inventario</h5>
       <form method="POST" class="post-form">
         {% csrf_token %}
         <div class="row">
          <div class=" col l6 m12 s12">
            <div class="col s6">
              <label for="bodega_idbodega"><h6>Bodega:</h6> </label>{{ form_anaquel.bodega_idbodega}}
            </div>
            <div class="col s6">
              <label for="anaquel_idanaquel"><h6>Anaquel:</h6> </label>{{ form_inventario.anaquel_idanaquel}}
            </div>
            <table>
      <thead>
        <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
      </tbody>
    </table>


          </div>
          <div class=" col l6 m12 s12">
            <p class="blue-text text-darken-2">Codigo Producto ####</p>
            <label for="cantidad_real_ajuste"><h6>Conteo Real:</h6> </label>{{ form_ajusteinventario.cantidad_real_ajuste}}
            <label for="motivo_idmotivo"><h6>Motivo Ajuste:</h6> </label>{{ form_ajusteinventario.motivo_idmotivo}}
          </div>
        </div>


        <div class="row">
        <h5> Ajustes Realizados</h5>
          <div class=" col l12 m12 s12">

          </div>
       </div>
       <div class="row">
         <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
      </div>

          <!-- {{ form_inventariorealizado.as_p }}
           {{ form_empleado.as_p }}
           {{ form_inventario.as_p }}
           {{ form_detallainventario.as_p }}
           {{ form_ajusteinventario.as_p }}
           {{ form_anaquel.as_p }}-->
           <button type="submit" class="save btn btn-default">Guardar</button>
       </form>
     </div>
   {% endblock %}
