{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
{% block titulo %}
 Modificacion clientes
{% endblock %}
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}">
    {% endblock %}
      {% block encabezado %} Modificacion clientes{% endblock %}
    {% block content %}
    <style>
    table tbody tr:hover {
    background-color: #CCD9DE;
    cursor: pointer;
    }
    </style>
    <form method="POST" class="post-form" id="formulario_cliente">
      {% csrf_token %}
      <div class="row" style="margin-bottom: 0px;">
        <div  class="col l4 m12 s12">
          <label for="nombres"><h6>Nombres:</h6> </label>{{ formbusqueda.nombres }}

        </div>
        <div  class="col l4 m12 s12">
          <label for="id_apellidos_persona"><h6>Apellidos:</h6> </label>{{ formbusqueda.apellidos }}
        </div>
        <div  class="col l4 m12 s12">
          <label for="nit_del_cliente"><h6>Nit:</h6> </label>{{ formbusqueda.nit_del_cliente }}
        </div>
      </div>
      <div class="row" style="margin-bottom: 0px;">
        <div  class="col l8 m12 s12">
        </div>
        <div  class="col l4 m12 s12">
          <br/>
          <input  class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Puede usar únicamente parte del nombre o parte del apellido" id="boton_buscar_cliente" type="button" onclick="buscar_cliente(this)" value="Buscar" name="btn_buscar_cliente"/>
        </div>
      </div>

    <div class="row" style="margin-bottom: 0px;">
      <div  class="col l12 m12 s12">
        <table id="tabla_cliente" class="grey lighten-2">
          <thead>
            <tr>
                <th data-field="IdCliente">IdCli</th>
                <th data-field="IdPersona">IdPer</th>
                <th data-field="DPI">DPI</th>
                <th data-field="Nit">Nit</th>
                <th data-field="Nombre" width="300">Nombre</th>
                <th data-field="Tipo">Tipo</th>
                <th data-field="Fecha">Fecha de registro</th>
                <th data-field="Fecha de nacimiento">Fecha de nacimiento</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

            <div class="row" style="margin-bottom: 0px;">
              <div  class="col l6 m12 s12">
              <div class"row">
                <div  class="col s6">
                  ID persona:{{ formbusqueda.id_persona }}
                </div>
                <div  class="col s6">
                  ID cliente:{{ formbusqueda.id_cliente }}
                  <br/>
                </div>
              </div>
              <div class"row">
              <label for="id_dpi_persona"><h6>DPI:</h6> </label>{{ form.dpi_persona }}
              </div>
              <div class"row">
              <label for="nombres_persona"><h6>Nombres:</h6> </label>{{ form.nombres_persona }}
              </div>
              <div class"row">
                <label for="apellidos_persona"><h6>Apellidos:</h6> </label>{{ form.apellidos_persona }}
              </div>
              <div class"row">
                <label for="telefonos_persona"><h6>Numero de Telefono/Celular:</h6> </label>{{ form.telefonos_persona }}
              </div>
                <div class"row">
                    <label for="direccion_persona"><h6>Direccion:</h6> </label>{{ form.direccion_persona }}
                </div>
                <div class"row">
                  <label for="fecha_nacimiento_persona"><h6>Fecha De Nacimiento dd/mm/yy:</h6> </label>{{ form.fecha_nacimiento_persona }}
                </div>
              </div>
              <div class="col l6 m12 s12">
                <div class"row">
                  <label for="id_correoelectronico_persona"><h6>Correo electrónico:</h6> </label>{{ form.correoelectronico_persona }}
                </div>
                <div class"row">
                  <label for="nit_cliente"><h6>Nit:</h6> </label>{{ sub_form.nit_cliente }}
                </div>
                <div class"row">
                  <label for="tipo_cliente_idtipo_cliente"><h6>Tipo de cliente:</h6> </label>{{ sub_form.tipo_cliente_idtipo_cliente }}
                  <br/>
                  <button class="save btn btn-default"  type="submit" >Guardar</button>
                </div>
                  <!--{{ sub_form.as_p }}-->
              </div>
            </div>

        </form>
    {% endblock %}

    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">

    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/
      var fechainiDefault;
      //Similar al FormLoad
        $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
          $('#bloque_caracteristicas_producto').hide(); //.hide() oculta el elemento con ese id
          $('input[type="checkbox"]').addClass("filled-in").addClass("filled-in"); //necesario para que se vean los checkbox
          //$('input[type="select"]').addClass("browser-default").addClass("browser-default");
          $('#id_producto_codigo_producto').empty();
          $('input#id_codigobarras_producto').focus();
          //$('input[type="checkbox"]').prop('checked', false);
          //console.log($('#Form_Precios_Precio').serializeArray()) ;
          fechainiDefault=$('#id_fechafinal_precio').html();
        });

        $( "#id_nit_del_cliente" ).click(function() {
          Materialize.toast('Si el NIT, los nombres y los apellidos quedan vacíos, se buscarán los clientes sin NIT', 4000);
        });

        //Con esta funcion se buscan los productos de acuerdo a sus caracteristicas
        function buscar_cliente(boton){
            $("#tabla_cliente > tbody").html("");
            obtener_cliente('#id_nit_del_cliente','#id_nombres','#id_apellidos');
            $("#id_id_cliente").val("");
            $("#id_id_persona").val("");
            $("#id_nombres_persona").val("");
            $("#id_apellidos_persona").val("");
            $("#id_dpi_persona").val("");
            $("#id_fecha_nacimiento_persona_day").val("");
            $("#id_fecha_nacimiento_persona_month").val("");
            $("#id_fecha_nacimiento_persona_year").val("");
            $("#id_direccion_persona").val("");
            $("#id_telefonos_persona").val("");
            $("#id_correoelectronico_persona").val("");
            $("#id_nit_cliente").val("");
            $("#id_tipo_cliente_idtipo_cliente").val("");
            $("#id_id_persona").val("");
        }

        //esta funcion se activa al dar clic sobre una fila de la tabla
        function seleccionar_fila(fila){
          var datos = $(fila).find('td').get().map(function(cell) {
              return $(cell).html();
          });
          $("#id_id_cliente").val(datos[0]);
          $("#id_id_persona").val(datos[1]);
          Materialize.toast('Se modificará el cliente seleccionado', 4000);
          obtener_clienteespecifico(datos[0],datos[1]);
        }


        //evitando que se actualice la página, guardando el precio y limpiando los items
        /*$('#formulario_cliente').on('submit', function(event){
            //event.preventDefault();
            console.log($(this).serialize());
        });*/

    /*Espacio para Ajax
    ============================================================================*/

        function obtener_cliente(id_nit,id_nombre,id_apellido) {
            $.ajax({
                url : "/Buscar/Cliente/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { nit : $(id_nit).val(), nombre : $(id_nombre).val(), apellido: $(id_apellido).val()}, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    $("#tabla_cliente > tbody").html("");
                    $.each(json, function(key,value) {
                      $('#tabla_cliente > tbody:last-child').append('<tr onclick="seleccionar_fila(this)">'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.persona_idpersona__pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.persona_idpersona__dpi_persona+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.nit_cliente+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.persona_idpersona__nombres_persona+' '+value.persona_idpersona__apellidos_persona+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.tipo_cliente_idtipo_cliente__nombre_tipocliente+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fecha_registro_cliente+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.persona_idpersona__fecha_nacimiento_persona+'</td>'+

                                                                      '</tr>');
                    });
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };

        function obtener_clienteespecifico(id_cliente,id_persona) {
            $.ajax({
                url : "/Buscar/ClienteEspecifico/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { cliente : id_cliente, persona : id_persona}, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    $.each(json, function(key,value) {
                      $('#id_dpi_persona').val(value.persona_idpersona__dpi_persona);
                      $('#id_nombres_persona').val(value.persona_idpersona__nombres_persona);
                      $('#id_apellidos_persona').val(value.persona_idpersona__apellidos_persona);
                      var fecha=value.persona_idpersona__fecha_nacimiento_persona;
                      var fechas=fecha.split('-');
                      if(fechas.length>1){
                          $('#id_fecha_nacimiento_persona_year').val(parseInt(fechas[0]));
                          $('#id_fecha_nacimiento_persona_month').val(parseInt(fechas[1]));
                          $('#id_fecha_nacimiento_persona_day').val(parseInt(fechas[2]));
                      }
                      $('#id_correoelectronico_persona').val(value.persona_idpersona__correoelectronico_persona);
                      $('#id_direccion_persona').val(value.persona_idpersona__direccion_persona);
                      $('#id_telefonos_persona').val(value.persona_idpersona__telefonos_persona);
                      $('#id_nit_cliente').val(value.nit_cliente);
                      $('#id_tipo_cliente_idtipo_cliente').val(value.tipo_cliente_idtipo_cliente__pk);
                    });
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };

    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
