{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
{% block titulo %}
 Modificar Venta
{% endblock %}
   {% block styles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>

   {% endblock %}
  {% block encabezado %}Modificar Venta{% endblock %}
   {% block content %}
   <style>
   table tbody tr:hover {
   background-color: #CCD9DE;
   cursor: pointer;
   }
   </style>

       <form method="POST" class="post-form" id="formulario_anular" action="/Anulacion/Venta/">
         {% csrf_token %}
         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
               <label for="id_fecha_venta"><h6>Fecha de Venta:</h6> </label>{{ form_Venta.fecha_venta}}
           </div>
           <div class="col l6 m12 s12">
             <label for="venta_idventa"><h6>Numero Venta:</h6> </label>{{ form_DetalleVenta.venta_idventa}}
           </div>
         </div>


         <div class="row" style="margin-bottom: 0px;">
            <div class="col l4 m12 s12">
               <label for="id_nit_cliente"><h6>Nit de Cliente:</h6> </label>{{ form_Cliente.nit_cliente}}
            </div>
            <div class="col l4 m12 s12">
                <label for="id_nombres_persona"><h6>Nombres del cliente:</h6> </label>{{ form_persona.nombres_persona}}
            </div>
            <div class="col l4 m12 s12">
                <label for="id_nombres_persona"><h6>Apellidos del cliente:</h6> </label>{{ form_persona.apellidos_persona}}
            </div>
         </div>

         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
              <input class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Si dos o más datos no concuerdan entre sí, solo se buscará a uno de ellos, ignorando a cualquier otro" id="boton_buscar" type="button" onclick="buscar(this)" value="Buscar" name="btn_buscar"/>
           </div>
        </div>

         <div class="row">
           <table id="tabla_venta" class="grey lighten-2">
             <thead>
               <tr>
                   <th data-field="Número">Número</th>
                   <th data-field="Cliente">Cliente</th>
                   <th data-field="Fecha">Fecha</th>
                   <th data-field="Vendedor">Cod.Vendedor</th>
                   <th data-field="Cajero">Cod.Cajero</th>
                   <th data-field="Total">Total</th>
               </tr>
             </thead>
             <tbody>
             </tbody>
           </table>
         </div>
          <div class="row" style="margin-bottom: 0px;">
            <p class="blue-text text-darken-2">Número de venta seleccionada: <label id="lbl_venta" class="mietiqueta"></label></p>
          </div>
          <div class="divider"></div>
          <div class="row" style="margin-bottom: 0px;">
            <div id="bloque_tabla">
              <div class="col l12 m12 s12">
                <table id="tabla_productos" class="grey lighten-2">
                  <thead>
                    <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                      <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodDet</th>
                        <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Inv</th>
                        <th data-field="name" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">CodProd</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cant</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Producto</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Precio</th>
                        <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Valor parcial</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
         <div class="divider"></div>
         <div class="row" style="margin-bottom: 0px;">
           <div class="col l6 m12 s12">
             <p class="blue-text text-darken-2">Detalle de venta seleccionado: <label id="lbl_detalle" class="mietiqueta"></label></p>
           </div>
         </div>
         <div id="bloque_caracteristicas_producto" style="background-color:#b3cccc;border-radius:10px;">
           <div class="row" margin-bottom: 0px;>
             <div class="col l6 m12 s12">
               <label for="id_bodega_idbodega"><h6>Bodega:</h6> </label>{{ form_inventario.bodega_idbodega}}
             </div>
             <div class="col l6 m12 s12">

             </div>
           </div>
           <div class="row" margin-bottom: 0px;>
                 <div class="col l6 m12 s12">
                     <label for="codigobarras_producto"><h6>Código de barras:</h6> </label>{{ form_producto.codigobarras_producto}}
                     <label for="marca_id_marca"><h6>Marca:</h6> </label>{{ form_producto.marca_id_marca}}
                     <label for="estilo_idestilo"><h6>Estilo:</h6> </label>{{ form_producto.estilo_idestilo}}
                     <label for="genero_idgener"><h6>Genero:</h6> </label>{{ form_producto.genero_idgener}}
                     <br/>

                 </div>
                 <div class="col l6 m12 s12">
                   <label for="codigoestilo_producto"><h6>Código de estilo:</h6> </label>{{ form_producto.codigoestilo_producto}}
                   <label for="talla_idtalla"><h6>Talla:</h6> </label>{{ form_producto.talla_idtalla}}
                   <label for="color_idcolor"><h6>Color:</h6> </label>{{ form_producto.color_idcolor}}
                   <br/>
                   <input class="btn tooltipped" data-position="bottom" data-delay="5" data-tooltip="Buscar el producto con esas características" id="boton_buscar_caracteristicas" type="button" onclick="buscar_caracteristicas(this)" value="Buscar" name="btn_buscar_caracteristicas"/>
                   <input class="btn tooltipped" data-position="top" data-delay="5" data-tooltip="Limpiar todas las característias para buscar un nuevo producto, en esa bodega" id="boton_limpiar" type="button" onclick="limpiar(this)" value="Limpiar" name="btn_limpiar"/>
                   <br/>
                 </div>
                 <div class="divider"></div>
            </div>
            <div class="row" margin-bottom: 0px;>
              <div class="divider"></div>
              <div class="col l6 m12 s12">
                <label for="id_producto_codigo_producto"><h6>Producto:</h6> </label>{{ form_inventario.producto_codigo_producto}}
              </div>
              <div class="col l6 m12 s12">
                <label for="id_inventario_producto_idinventario_producto"><h6>Inventario:</h6> </label>{{ form_DetalleVenta.inventario_producto_idinventario_producto}}
                <br/>
              </div>
            </div>
            <div class="row" margin-bottom: 0px;>
              <div class="divider"></div>
              <div class="col l4 m12 s12">
                <label for="id_cantidad_venta"><h6>Cantidad nueva:</h6> </label>{{ form_DetalleVenta.cantidad_venta}}
              </div>
              <div class="col l4 m12 s12">
                <label for="id_cantidad_venta"><h6>Precio:</h6> </label>{{ form_busquedas.precio_producto}}
              </div>
              <div class="col l4 m12 s12">
                <label for="id_cantidad_venta"><h6>Valor parcial:</h6> </label>{{ form_DetalleVenta.valor_parcial_venta}}
              </div>
            </div>
        </div>

           <div class="col l6 m12 s12">
             <label for="id_empleado_idempleado"><h6>Empleado autoriza:</h6> </label>{{ form_Venta.empleado_idempleado}}
           </div>
           <div class="col l6 m12 s12">
             <label for="id_codigo_autorizacion_empleado"><h6>Codigo de autorización:</h6> </label>{{ form_empleado.codigo_autorizacion_empleado}}
             <button type="submit" class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Se modificará ese detalle de la venta" id="boton_anular" name="btn_anular">Modificar</button>
           </div>
         </div>

       </form>

   {% endblock %}
   {% block extra_scripts %}
   <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
   <script type="text/javascript">

   /*Espacio para JQuery y busquedas dentro del DOM
   ===========================================================================*/
     //Similar al FormLoad
       $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
         $('#id_fecha_venta').val('');
         $("#id_producto_codigo_producto").empty();
         $('#bloque_caracteristicas_producto').find('input').not('#boton_buscar_caracteristicas,#boton_limpiar,#id_bodega_idbodega').val('');
         $('#bloque_caracteristicas_producto').find('text').not('#boton_buscar_caracteristicas,#boton_limpiar,#id_bodega_idbodega').val('');
         $('#bloque_caracteristicas_producto').find('textarea').not('#boton_buscar_caracteristicas,#boton_limpiar,#id_bodega_idbodega').val('');
         $('#bloque_caracteristicas_producto').find('select').not('#boton_buscar_caracteristicas,#boton_limpiar,#id_bodega_idbodega').val('');
         $("#id_cantidad_venta").val(1);
         $("#id_bodega_idbodega").val(1);
         //$("#id_cantidad_devuelta").val(1);
         $('#id_inventario_producto_idinventario_producto').find(':not(:selected)').prop('disabled',true);
         $("#id_codigobarras_producto").val('');
         $("#id_valor_precio").val(0);
         $("#id_valor_parcial_venta").val(0);
         $("#id_codigoestilo_producto").val('');
         //$("#id_inventario_producto_idinventario_producto").prop('readonly',true);
       });


       $( 'input#id_codigobarras_producto' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           if($('#id_bodega_idbodega').val()===''){
             alert('Debe elegir una bodega válida');
           }
           else{
              obtener_productonuevo('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener','#id_bodega_idbodega');
           }


         }
       });

       $( 'input#id_codigoestilo_producto' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           obtener_productonuevo('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener','#id_bodega_idbodega');
         }
       });

       $( 'input#id_nit_cliente' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           $( 'input#id_nombres_persona' ).focus()
         }
       });
       $( 'input#id_nombres_persona' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           $( 'input#id_apellidos_persona' ).focus()
         }
       });
       $( 'input#id_apellidos_persona' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
         }
       });
       $( '#id_cantidad_venta' ).keydown(function(e){
         var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                             //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
         if(e.keyCode==13)
         {
           e.preventDefault();
           $('#id_valor_parcial_venta').val($('#id_cantidad_venta').val()*$('#id_precio_producto').val());
         }
       });
       $("#id_nit_cliente").focus(function() {
         Materialize.toast('Escriba el nit incluyendo el guión', 4000);
       });

       $( "#id_venta_idventa" ).change(function() {
         $("#lbl_venta").text($("#id_venta_idventa option:selected").val());
       });

       //función que limpia los valores de la sección de características del producto
       function limpiar(boton){
         $('#bloque_caracteristicas_producto').find('input, textarea, select').not("#boton_limpiar,#boton_buscar_caracteristicas,#id_cantidad_venta,#id_bodega_idbodega").val("");
         $('#id_cantidad_venta').val(1);
         $('#id_bodega_idbodega').val(1);
       }

       //Con esta funcion se buscan los productos de acuerdo a sus caracteristicas
       function buscar(boton){
           obtener_venta($("#id_venta_idventa option:selected").val(),$('#id_apellidos_persona').val(),$('#id_nombres_persona').val(),$('#id_fecha_venta').val(),$('#id_nit_cliente').val());
           $("#lbl_venta").text("");
       }
       var venta=0;
       //esta funcion se activa al dar clic sobre una fila de la tabla
       function seleccionar_fila(fila){
         var datos = $(fila).find('td').get().map(function(cell) {
             return $(cell).html();
         });
         Materialize.toast('Se selecionó la venta: '+datos[0], 4000);
         venta=datos[0];
         $('#lbl_venta').text(datos[0]);
         obtener_detalleventa(datos[0]);
       }
       var detalle=0;
       //esta funcion se activa al dar clic sobre una fila de la tabla
       function seleccionar_filadetalle(fila){
         var datos = $(fila).find('td').get().map(function(cell) {
             return $(cell).html();
         });
         detalle=datos[0];
         $('#lbl_detalle').text(datos[0]);
         $('#id_precio_producto').val(datos[5]);
         $('#id_valor_parcial_venta').val(datos[6]);
         //$("#id_cantidad_devuelta").val(datos[3]);
         Materialize.toast('Se selecionó el detalle: '+datos[0], 4000);
       }
       //evitando que se actualice la página, guardando el precio y limpiando los items

       $('#formulario_anular').on('submit', function(event){
           event.preventDefault();
           if(venta===0)
           {
             alert('No eligió ninguna venta');
           }
           else if (detalle===0) {
             alert('No eligió ningun detalle a modificar');
           }
           else if ($('#id_producto_codigo_producto').val()==='') {
             alert('No eligió ningun producto a agregar');
           }
           else if ($('#id_inventario_producto_idinventario_producto option:selected').val()==='') {
             alert('Debe elegir un inventario válido');
           }
           else{
             modificar_detalle(venta,detalle,$('#id_inventario_producto_idinventario_producto option:selected').val(),$("#id_empleado_idempleado option:selected").val(),$("#id_codigo_autorizacion_empleado").val(),$('#id_cantidad_venta').val(),$('#id_valor_parcial_venta').val());
           }
           //anular_venta($("#lbl_venta").text(),$("#id_empleado_idempleado option:selected").val(),$("#id_codigo_autorizacion_empleado").val());

           //$('#formulario_precio').find('input, textarea, select').not("#boton_buscar, #boton_guardar").val("");
           //$('#formulario_precio').find('.mietiqueta').text("");
           //$("#tabla_venta > tbody").html("");
       });

       $( "#id_producto_codigo_producto" ).change(function() {
         var prod=$( "#id_producto_codigo_producto option:selected" ).text().split('|');
         //alert(prod[7]);
         $("#id_inventario_producto_idinventario_producto").val(parseInt(prod[7]));
         $("#id_precio_producto").val(prod[8]);
         $('#id_valor_parcial_venta').val(prod[8]*$('#id_cantidad_venta').val());
       });

       function buscar_caracteristicas(boton){
         if($('#id_bodega_idbodega').val()===''){
           alert('Debe elegir una bodega válida');
         }
         else{
            obtener_productonuevo('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener','#id_bodega_idbodega');
         }
          //console.log($('#id_bodega_idbodega option:selected').val());
       }

   /*Espacio para Ajax
   ============================================================================*/

       function obtener_venta(num_venta,ape_cliente,nom_cliente,fventa,nitcliente) {
           $.ajax({
               url : "/Buscar/VentaModificar/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { numeroventa:num_venta,apellidos:ape_cliente,nombres:nom_cliente,fecha:fventa,nit:nitcliente}, // Datos enviados con el request en formato JSON

               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                   $("#tabla_venta > tbody").html("");
                   //console.log(json);
                   $.each(json, function(key,value) {
                     $('#tabla_venta > tbody:last-child').append('<tr onclick="seleccionar_fila(this)">'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.cliente_idcliente__persona_idpersona__nombres_persona+' '+value.cliente_idcliente__persona_idpersona__apellidos_persona +'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fecha_venta+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.vendedor_venta__pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.empleado_idempleado__pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.total_venta+'</td>'+
                                                                     '</tr>');
                   });
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           });
       };

       function obtener_detalleventa(num_venta) {
           $.ajax({
               url : "/Buscar/DetalleVenta/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { numeroventa:num_venta}, // Datos enviados con el request en formato JSON

               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                   $("#tabla_productos > tbody").html("");
                   //console.log(json);
                   $.each(json, function(key,value) {
                     $('#tabla_productos > tbody:last-child').append('<tr onclick="seleccionar_filadetalle(this)">'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.inventario_producto_idinventario_producto__pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.inventario_producto_idinventario_producto__producto_codigo_producto__pk+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.cantidad_venta+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.inventario_producto_idinventario_producto__producto_codigo_producto__nombre_producto+'--'+value.inventario_producto_idinventario_producto__producto_codigo_producto__marca_id_marca__nombre_marca+' ['+value.inventario_producto_idinventario_producto__producto_codigo_producto__talla_idtalla__nombre_talla+'] '+value.inventario_producto_idinventario_producto__producto_codigo_producto__color_idcolor__nombre_color+'--'+value.inventario_producto_idinventario_producto__producto_codigo_producto__genero_idgener__nombre_genero+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.precio+'</td>'+
                                                                       '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.valor_parcial_venta+'</td>'+
                                                                     '</tr>');
                   });
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           });
       };
       /*
       function obtener_producto(detalle) {
           $.ajax({
               url : "/Buscar/Producto/ModificarVenta/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { detalleventa:detalle}, // Datos enviados con el request en formato JSON
               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                   $.each(json, function(key,value) {
                     console.log(value.inventario_producto_idinventario_producto__pk);
                        $('#id_cantidad_venta').val(value.cantidad_venta);
                        $('#id_producto_codigo_producto').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__pk);
                        $('#id_bodega_idbodega').val(value.inventario_producto_idinventario_producto__bodega_idbodega__pk);
                        $('#id_codigobarras_producto').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__codigobarras_producto);
                        $('#id_codigoestilo_producto').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__codigoestilo_producto);
                        $('#id_inventario_producto_idinventario_producto').val(value.inventario_producto_idinventario_producto__pk);
                        $('#id_marca_id_marca').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__marca_id_marca__pk);
                        $('#id_color_idcolor').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__color_idcolor__pk);
                        $('#id_genero_idgener').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__genero_idgener__pk);
                        $('#id_talla_idtalla').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__talla_idtalla__pk);
                        $('#id_estilo_idestilo').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__estilo_idestilo__pk);
                        $('#id_tipo_producto_idtipo_producto').val(value.inventario_producto_idinventario_producto__producto_codigo_producto__tipo_producto_idtipo_producto__pk);
                   });
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           });
       };
       */

       function obtener_productonuevo(codigo_buscado,codigo_estilo_buscar,marca_buscar,tipo_buscar,talla_buscar,estilo_buscar,color_buscar,genero_buscar,bodega_vende) {
           $.ajax({
               url : "/Buscar/ProductoNuevo/ModificarVenta/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { codigobarras_producto : $(codigo_buscado).val(), codigo_estilo_producto : $(codigo_estilo_buscar).val(), marca_producto: $(marca_buscar+" option:selected").val(), tipo_producto: $(tipo_buscar+" option:selected").val(), estilo_producto: $(estilo_buscar+" option:selected").val(), color_producto: $(color_buscar+" option:selected").val(), talla_producto: $(talla_buscar+" option:selected").val(), genero_producto: $(genero_buscar+" option:selected").val(), bodega: $(bodega_vende+" option:selected").val()}, // Datos enviados con el request en formato JSON
               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                  console.log(json);
                  $('#id_producto_codigo_producto').empty();
                   $.each(json, function(key,value) {
                     if(key===0){
                        $("#id_inventario_producto_idinventario_producto").val(value.inventarioproducto__pk);
                        $("#id_precio_producto").val(value.precio__valor_precio);
                        $('#id_valor_parcial_venta').val(value.precio__valor_precio*$('#id_cantidad_venta').val());
                     }
                     $('#id_producto_codigo_producto').append('<option value='+value.pk+'>'+ value.pk  +'|'+ value.nombre_producto +'|'+ value.codigoestilo_producto +'|'+ value.marca_id_marca__nombre_marca +'|'+ value.talla_idtalla__nombre_talla +'|'+ value.color_idcolor__nombre_color+'|'+ value.genero_idgener__nombre_genero +'|'+ value.inventarioproducto__pk+'|'+ value.precio__valor_precio +'</option>');
                      console.log(value);
                   });
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           });
       };


       var res;
       function modificar_detalle(idventa,iddetalle,idinventario,idempleado,autorizacion,cantventa,valparventa) {
           $.ajax({
               url : "/Modificacion/Venta/", // La URL que llama a la vista
               type : "POST", // Metodo http para realizar el request (peticion al servidor)
               data : { cod_venta:idventa,cod_detalle : iddetalle, cod_inventario:idinventario, cod_empleado : idempleado, codigo : autorizacion,cant_venta:cantventa,val_parcial:valparventa}, // Datos enviados con el request en formato JSON
               // Si el response es correcto (si la respuesta del servidor es correcta)
               success : function(json) {
                   res=json;
                   alert(json);
               },
               // Si el response no tuvo exito
               error : function(xhr,errmsg,err) {
                   $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                       " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                   console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
               }
           }).done(function( data ) {
             if (res==="Detalle actualizado") {
               $("#id_codigo_autorizacion_empleado").val("");
               $("#id_empleado_idempleado").val("");
               location.reload();
             }
           });
       };


   </script>

   <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
   {% endblock %}
