{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
{% block titulo %}
 Precios
{% endblock %}
<!--se añadió la fila anterior-->
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}
      {% block encabezado %}Asignar Precio{% endblock %}
    {% block content %}
    <style>
    table tbody tr:hover {
    background-color: #CCD9DE;
    cursor: pointer;
    }
    </style>
    <form  action="/Guardar/Precio" id="formulario_precio"  method="POST" class="post-form">
      {% csrf_token %}
    <div class="row" style="margin-bottom: 0px;">
      <div class="col l6 m12 s12">
        <h6> Buscar Productos</h6>
        <div class="row" style="margin-bottom: 0px;">
              <div class="col s6">
                <label for="codigobarras_producto"><h6>Codigo de barras:</h6> </label>{{ form_producto.codigobarras_producto}}
              </div>
              <div class="col s6">
                <br/>
                <input class="filled-in" id="check_mostrar" name="mostrar_check" type="checkbox" />
                <label style="font-size: 90%" for="check_mostrar">Características</label>
                <br/>
              </div>
        </div>
        <div class="row" style="margin-bottom: 0px;">
              <div id="bloque_caracteristicas_producto">
                <div class="col s6">
                  <label for="marca_id_marca"><h6>Marca:</h6> </label>{{ form_producto.marca_id_marca}}
                  <label for="estilo_idestilo"><h6>Estilo:</h6> </label>{{ form_producto.estilo_idestilo}}
                  <label for="genero_idgener"><h6>Genero:</h6> </label>{{ form_producto.genero_idgener}}
                </div>
                <div class="col s6">
                  <label for="talla_idtalla"><h6>Talla:</h6> </label>{{ form_producto.talla_idtalla}}
                  <label for="color_idcolor"><h6>Color:</h6> </label>{{ form_producto.color_idcolor}}
                  <label for="codigoestilo_producto"><h6>Codigo estilo:</h6> </label>{{ form_producto.codigoestilo_producto}}
                  <input class="save btn btn-default" id="boton_buscar_caracteristicas" type="button" onclick="buscar_caracteristicas(this)" value="Buscar" name="btn_buscar_caracteristicas"/>
                </div>
              </div>
          </div>
        <div class="divider"></div>
        <br/>

        <div class="col s12">
          <div class="grey lighten-2">
            <table id="tabla_productos">
              <thead>
                <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                    <th data-field="Cod" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod</th>
                    <th data-field="Cod.Barras" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod.Barras</th>
                    <th data-field="Producto" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Producto</th>
                    <th data-field="Cod.Estilo" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod.Estilo</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
</div>

        <div class="col l6 m12 s12">
        <div class="row" style="margin-bottom: 0px;">
          <div class="s6">
            <p class="blue-text text-darken-2">Código producto: <label class="mietiqueta" id="lbl_producto"></label></p>
          </div>
          <div class="s12">
            <table id="tabla_precios" class="grey lighten-2">
              <thead>
                <tr>
                    <th data-field="Cod">Cod</th>
                    <th data-field="Precio">Precio</th>
                    <th data-field="Fecha Inicial">Fecha Inicial</th>
                    <th data-field="Fecha Final">Fecha Final</th>
                    <th data-field="Estado">Estado</th>
                    <th data-field="Autorizado">Producto</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0px;">
          <p class="blue-text text-darken-2">Código precio seleccionado: <label id="lbl_precio" class="mietiqueta"></label></p>
             <input class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Para crear un nuevo precio debe limpiar el código de precio" id="boton_limpiar_datos" type="button" onclick="limpiar(this)" value="Limpiar" name="btn_limpiar_datos"/>

            <label for="id_valor_precio"><h6>Monto Precio:</h6> </label>{{  form_precio.valor_precio}}
            <label for="id_fechainicial_precio"><h6>Fecha inicial vigencia:</h6> </label>{{ form_precio.fechainicial_precio}}
            <label for="id_fechafinal_precio"><h6>Fecha final vigencia:</h6> </label>{{ form_precio.fechafinal_precio}}
            {{ form_precio.estado_precio}}
            <label for="id_estado_precio"><h6>Estado</h6> </label>
            <br/>
            <button id="boton_guardar" type="submit" class="btn tooltipped" data-position="right" data-delay="5" data-tooltip="Por favor mantenga un solo precio activo (estado chequeado)">Guardar Precio</button>
          </div>
        </div>
      </div>



    </form>
    {% endblock %}
    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">

    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/
      var fechainiDefault;
      //Similar al FormLoad
        $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
          $('#bloque_caracteristicas_producto').hide(); //.hide() oculta el elemento con ese id
          $('input[type="checkbox"]').addClass("filled-in").addClass("filled-in"); //necesario para que se vean los checkbox
          //$('input[type="select"]').addClass("browser-default").addClass("browser-default");
          $('#id_producto_codigo_producto').empty();
          $('input#id_codigobarras_producto').focus();
          //$('input[type="checkbox"]').prop('checked', false);
          //console.log($('#Form_Precios_Precio').serializeArray()) ;
          fechainiDefault=$('#id_fechafinal_precio').html();
        });

        $( "#id_valor_precio" ).click(function() {
          Materialize.toast('Decimales separados por coma', 4000);
        });


        //Funcion que oculta o muestra el elemento con el id del 2do parametro,
        //al dar clic en el checkbox con el id del primer parametro
        //aqui se envia el primer id como parametro sin #, solo el primero
        click_ocultar_mostrar('check_mostrar',"#bloque_caracteristicas_producto");

        //Función que realiza una acción al leer código de barras
        $( 'input#id_codigobarras_producto' ).keydown(function(e){
          var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                              //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
          if(e.keyCode==13)
          {
            e.preventDefault();
            obtener_producto('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_bodega_idbodega','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener');
            $("#lbl_producto").text("");
            $("#lbl_precio").text("");
            $("#tabla_precios > tbody").html("");
          }
        });

        //Con esta funcion se buscan los productos de acuerdo a sus caracteristicas
        function buscar_caracteristicas(boton){
            obtener_producto('input#id_codigobarras_producto','#id_codigoestilo_producto','#id_marca_id_marca','#id_tipo_producto_idtipo_producto','#id_talla_idtalla','#id_estilo_idestilo','#id_color_idcolor','#id_genero_idgener');
            $("#lbl_producto").text("");
            $("#lbl_precio").text("");
            $("#tabla_precios > tbody").html("");
        }

        function limpiar(boton){
          $('#lbl_precio').text('');
          $('#id_fechafinal_precio').html(fechainiDefault);
          $('#id_fechafinal_precio').val('');
          $('#id_valor_precio').val('');
          Materialize.toast('Se creará un nuevo precio para el producto', 4000);
        }
        //esta funcion se activa al dar clic sobre una fila de la tabla
        function seleccionar_fila(fila){
          var datos = $(fila).find('td').get().map(function(cell) {
              return $(cell).html();
          });
          $('#lbl_producto').text(datos[0]);
          obtener_precio(datos[0]);
        }

        //esta funcion se activa al dar clic sobre una fila de la tabla producto
        function seleccionar_fila_precio(fila){
          var datos = $(fila).find('td').get().map(function(cell) {
              return $(cell).html();
          });
          $('#lbl_precio').text(datos[0]);
          $('#id_valor_precio').val(datos[1]);
          fechaini=datos[2].split('-');
          if(fechaini.length>1){
              $('#id_fechainicial_precio').val(fechaini[2]+'/'+fechaini[1]+'/'+fechaini[0]);
          }
          fechafin=datos[3].split('-');
          if(fechafin.length>1){
              $('#id_fechafinal_precio').val(fechafin[2]+'/'+fechafin[1]+'/'+fechafin[0]);
          }
          if(datos[4]==="Activo"){
              $('#id_estado_precio').prop('checked', true);
          }else if (datos[4]==="Inactivo") {
            $('#id_estado_precio').prop('checked', false);
          }

          Materialize.toast('Se modificará el precio seleccionado', 4000);
        }

        //evitando que se actualice la página, guardando el precio y limpiando los items
        $('#formulario_precio').on('submit', function(event){
            event.preventDefault();
            guardar_precio($('#lbl_precio').text(),$('#id_valor_precio').val(),$('#id_fechainicial_precio').val(),$('#id_fechafinal_precio').val(),$('#id_estado_precio').is(':checked'),$('#lbl_producto').text());
            $('#formulario_precio').find('input, textarea, select').not("#boton_buscar_caracteristicas,#boton_limpiar_datos, #boton_guardar").val("");
            $('#formulario_precio').find('.mietiqueta').text("");
            $('#formulario_precio').find(':checkbox').not('#id_estado_precio').prop('checked', false); //buscando todos los checkbox del form, excepto el de venta al contado, y seteandolos a falso
            $('#id_estado_precio').prop('checked', true);
            $('#bloque_caracteristicas_producto').hide();
            $("#tabla_precios > tbody").html("");
            $("#tabla_productos > tbody").html("");
        });

    /*Espacio para Ajax
    ============================================================================*/

        function obtener_producto(codigo_buscado,codigo_estilo_buscar,marca_buscar,tipo_buscar,talla_buscar,estilo_buscar,color_buscar,genero_buscar) {
            $.ajax({
                url : "/Buscar/Producto/Precio/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { codigobarras_producto : $(codigo_buscado).val(), codigo_estilo_producto : $(codigo_estilo_buscar).val(), marca_producto: $(marca_buscar+" option:selected").val(), tipo_producto: $(tipo_buscar+" option:selected").val(), estilo_producto: $(estilo_buscar+" option:selected").val(), color_producto: $(color_buscar+" option:selected").val(), talla_producto: $(talla_buscar+" option:selected").val(), genero_producto: $(genero_buscar+" option:selected").val()}, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    //console.log(json.recibido);
                    $(codigo_buscado).val(''); // Se limpia el campo del codigo del producto
                    $("#tabla_productos > tbody").html("");
                    $.each(json, function(key,value) {
                      $('#tabla_productos > tbody:last-child').append('<tr onclick="seleccionar_fila(this)">'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.codigobarras_producto+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.nombre_producto+'-'+value.marca_id_marca__nombre_marca+'-'+value.genero_idgener__nombre_genero+'-'+value.talla_idtalla__nombre_talla+'-'+value.color_idcolor__nombre_color+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.codigoestilo_producto+'</td>'+
                                                                      '</tr>');
                    });
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };

        function obtener_precio(cod_prod) {
            $.ajax({
                url : "/Buscar/Precio/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { cod_producto : cod_prod}, // Datos enviados con el request en formato JSON
                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    $("#tabla_precios > tbody").html("");
                    $.each(json, function(key,value) {
                      if (value.fechafinal_precio===null)
                      {
                        value.fechafinal_precio='';
                      }
                      else {
                        value.fechafinal_precio=value.fechafinal_precio.substring(0,10);
                      }
                      if (value.estado_precio===true)
                      {
                        value.estado_precio='Activo'
                      }
                      else {
                        value.estado_precio='Inactivo'
                      }

                      $('#tabla_precios > tbody:last-child').append('<tr onclick="seleccionar_fila_precio(this)">'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.pk+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.valor_precio+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fechainicial_precio.substring(0,10)+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.fechafinal_precio+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.estado_precio+'</td>'+
                                                                        '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+value.producto_codigo_producto+'</td>'+
                                                                      '</tr>');
                    });
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };

        function guardar_precio(precio,valor,inicial,final,estado,prod) {
            $.ajax({
                url : "/Guardar/Precio/", // La URL que llama a la vistaboton_agregar_producto
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { cod_precio:precio,fechaini:inicial,fechafin:final,est_precio:estado,val_precio:valor,producto:prod}, // Datos enviados con el request en formato JSON
                success : function(json) {
                  alert(json);
                },
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };


    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
