{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
   {% block titulo %}
    Punto de venta
   {% endblock %}
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}

    {% block encabezado %}Punto de venta{% endblock %}
    {% block content %}
        <form method="POST" class="post-form">
          {% csrf_token %}
          <div class="row">
            <div class="col l6 m12 s12">
                Elegir caja: {{form_Venta.caja_idcaja}}
            </div>
            <div class="col l6 m12 s12">
              <input type="checkbox" id="es_cotizacion" />
              <label for="es_cotizacion"><h6>Cotizacion</h6> </label>{{ form_Venta.es_cotizacion}}
            </div>
          </div>

          <div class="row">
            <div class="col l6 m12 s12">
              <label>Cliente: </label>{{ form_cliente.nit_del_cliente}}{{form_Venta.cliente_idcliente}}
            </div>

            <div class="col l6 m12 s12">

 <label  for="vendedor_venta">Vendedor: </label>{{form_Venta.vendedor_venta}}


        </div>
      </div>

      <div class="row">
      <div class="col l6 m12 s12">
      <label>Cantidad: </label>{{form_DetalleVenta.cantidad_venta}}
      <label>Valor: </label>{{form_Precio.valor_precio}}
      </div>
      <div class="col l6 m12 s12">
      <label for="codigobarras_producto">Código Barras: </label>{{ form_Producto.codigobarras_producto }}

      <input class="filled-in" id="check_mostrar" name="mostrar_check" type="checkbox" />
      <label for="check_mostrar">Mostrar caracteristicas del producto:</label>

      <input class="filled-in" id="check_promocion" name="promocion_check" type="checkbox" />
      <label for="check_promocion">Es promocion:</label>

      </div>
      </div>


      <div class="row">
        <ul id="talk">
        <div class="divider"></div>
        <div id="bloque_caracteristicas_producto">
          <p style="color: #80bfff;"><b>Características del producto</b></p>
          <div class="col l6 m12 s12">
              <div class="col  s6">
                <label>Marca: </label>{{form_TipoProducto.marca_id_marca}}
                <label>Tipo: </label>{{form_estiloproducto.tipo_producto_idtipo_producto}}
                <label>Estilo: </label>{{form_Producto.estilo_idestilo}}
                <label for="id_talla_idtalla">Talla: </label>{{form_Producto.talla_idtalla}}
              </div>

              <div class="col  s6">
                <label>Codigo Estilo: </label>{{form_Producto.codigoestilo_producto}}
                <label>Color: </label>{{form_Producto.color_idcolor}}
                <label>Género: </label>{{form_Producto.genero_idgener}}

              </div>

          </div>

          <div class="col l6 m12 s12">
            <div class="row">
              <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Imagen</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col l6 m12 s12">
                  <label>Descripcion: </label>{{form_InventarioProducto.producto_codigo_producto}}
              </div>
          </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div id="bloque_promocion">
      <p style="color: #80bfff;"><b>Promoción</b></p>
      <div class="col l6 m12 s12">
        <label>Nombre de la promocion: </label>{{form_cliente.nombre_delapromocion}}
        {{form_promocionhasproducto.promocion_idpromocion}}
      </div>
      <div class="col l6 m12 s12">
      </div>
    </div>
  </div>


  <div class="divider"></div>
  <div class="row">
  <div class="divider"></div>
    <div class="col l6 m12 s12">
      <table id="tabla_productos">
        <thead>
          <tr>
              <th data-field="id">Inv</th>
              <th data-field="name">Cod</th>
              <th data-field="price">Cantidad</th>
              <th data-field="price">Producto</th>
              <th data-field="price">Precio</th>
              <th data-field="price">Valor parcial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>Suaves sabanas...</td>
            <td>80.3</td>
            <td>160.6</td>
          </tr>
        </tbody>
          </table>
          <div class="divider"></div>
    </div>
    <div class="col l6 m12 s12">
        <label>Descuento: </label>{{form_DetalleVenta.descuento_iddescuento}}
          <button type="submit" class="save btn btn-default">Aplicar Descuento</button>

          <button type="submit" class="save btn btn-default">Remover Producto</button>


    </div>
  </div>

  <div class="divider"></div>

              <div id="results"></div>

              <div class="divider"></div>
              <div class="row">

                <div class="col l6 m12 s12">
              <label>Tipo de pago: </label>{{form_Venta.tipo_pago_idtipo_pago}}
                <label>Anotaciones: </label>{{form_Venta.anotaciones_venta}}
                </div>
                <div class="col l6 m12 s12">
                  <button type="submit" class="save btn btn-default">Realizar Venta</button>

                </div>

              </div>
<div class="divider"></div>
<div class="col l6 m12 s12">
    <label>Código de autorización: </label>{{form_cliente.codigo_autorizacion}}
      <button type="submit" class="save btn btn-default">Anular venta</button>
</div>

</form>

    {% endblock %}

    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">
    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/
      //Es importante colocar esta linea antes de llamar a las funciones de busqueda
      //dentro de dropdown, porque obtiene el estado por defecto del dropdown, asi
      //se puede resetear. Hay que hacer con cada dropdown donde se busque.
       var selectDefault = $("#id_cliente_idcliente").html();

        //Función que coloca el cursor en el textbox Nit del cliente, al momento de cargar la página
        //Similar al FormLoad
        $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
          $('input#id_nit_del_cliente').focus(); //se accede al input con el id que está después de #, //.focus() indica que ahí se colocará el cursor
          $('#bloque_caracteristicas_producto').hide(); //.hide() oculta el elemento con ese id
          $('#bloque_promocion').hide();
        });

        //Funcion que oculta o muestra el elemento con el id del 2do parametro,
        //al dar clic en el checkbox con el id del primer parametro
        //aqui se envia el primer id como parametro sin #, solo el primero
        click_ocultar_mostrar('check_mostrar',"#bloque_caracteristicas_producto")
        click_ocultar_mostrar('check_promocion',"#bloque_promocion")
        //Funcion para buscar el nit del cliente:
        //el primer parametro es el id del txtbox y el segundo el id del dropdownlist
        buscar_dropdown_startswith('input#id_nit_del_cliente','#id_cliente_idcliente');

        //Función que cmprueba si el texto del textbox es igual al del dropdown
        //si es asi pasa el cursor a otro textbox, de lo contrario muestra una alerta
        //y devuelve el dropdown a su estado original. Se le envia ademas el parametro para que se haga un split
        //del texto del elemento seleccionado en el dropdwon. Y otro parametro para saber que posicion del arreglo
        //resultante del split, es la que se usara para la comparacion
        comprobar_pasarsiguiente_mostrarmensaje('input#id_nit_del_cliente','input#id_codigobarras_producto','#id_cliente_idcliente','El cliente no existe',' ',0);

        //Función que realiza una acción al leer código de barras
        $( 'input#id_codigobarras_producto' ).keydown(function(e){
          var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                              //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
          if(e.keyCode==13)
          {
            e.preventDefault();
            obtener_producto('input#id_codigobarras_producto'); //Enviar como parametro el id del elemento txtBox
                //Importante editar tambien el "data :" en la definicion de la funcion
            alert('Producto leído');
          }
        });

    /*Espacio para Ajax
    ============================================================================*/
        function obtener_producto(codigo_buscado) {
          console.log("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx");
            console.log("Se ejecuta la funcion"); // Solo se comprueba que el llamado a la funcion sea correcto
            $.ajax({
                url : "/Buscar/Producto/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { codigobarras_producto : $(codigo_buscado).val() }, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    $(codigo_buscado).val(''); // Se limpia el campo del codigo del producto
                    var res_valorprod=JSON.parse(json.valorprod);
                    var res_inventario=JSON.parse(json.inventario);
                    var res_nombre=JSON.parse(json.nombre);
                    var campos_valorprod =res_valorprod[0].fields;
                    var campos_nombre =res_nombre[0].fields;
                    var cantidad=$('input#id_cantidad_venta').val();
                    var valor_parcial=cantidad*campos_valorprod.valor_precio;
                    console.log(res_nombre[0].pk);
                    console.log(campos_valorprod.valor_precio);
                    console.log(res_inventario[0].pk);
                    console.log(campos_nombre.nombre_producto);
                    //$('#tabla_productos tr:last').after('<tr>'+ '</tr>');
                    $('#tabla_productos > tbody:last-child').append('<tr>'+
                                                                      '<td>'+res_inventario[0].pk+'</td>'+
                                                                      '<td>'+res_nombre[0].pk+'</td>'+
                                                                      '<td>'+cantidad+'</td>'+
                                                                      '<td>'+campos_nombre.nombre_producto+'</td>'+
                                                                      '<td>'+campos_valorprod.valor_precio+'</td>'+
                                                                      '<td>'+valor_parcial+'</td>'+
                                                                    '</tr>');
                    //$("#talk").prepend("<li><strong>"+json.codprod+"</strong> - <em> "+json.valorprod[0]+"</em> - <span> "+json.nombre[0]+"</span></li>");
                    console.log("success"); // Solo se comprueba mediante la consola, que el llamado fue correcto
                },

                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };
    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
