{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}

    {% block extra_scripts %}
    <script type="text/javascript">
        $( document ).ready(function(){
          $('input#id_nit_del_cliente').focus();
        });
        $( 'input#id_nit_del_cliente' ).keyup(function(e){
          switch (e.keyCode) {
            case 9: $('input#id_codigo_producto').focus();
              break;
          }
        });
        $( 'input#id_codigo_producto' ).keyup(function(e){
          switch (e.keyCdode) {
            case 13: alert('Producto leido');
              break;
          }
        });
    </script>
    {% endblock %}

    {% block content %}

        <h5>Punto de Venta</h5>
        <form method="POST" class="post-form">
          {% csrf_token %}
            <p>
            <label>Cliente: </label>{{ form_cliente.nit_del_cliente}}{{form_Venta.cliente_idcliente}}
            <label for="id_codigo_producto">Código: </label>{{ form_Producto.codigo_producto }}
            <label>Cantidad: </label>{{form_DetalleVenta.cantidad_venta}}
            <label>Valor: </label>{{form_Precio.valor_precio}}
            <label for="check_mostrar">Mostrar caracteristicas del producto:</label> <input checked="checked" id="check_mostrar" name="mostrar_check" type="checkbox" /></p>
            <label for="check_promocion">Es promocion:</label> <input checked="false" id="check_promocion" name="promocion_check" type="checkbox" /></p>
            <label>Vendedor: </label>{{form_Producto.empleado_idempleado}}

            <div class="divider"></div>

            <p style="color: #80bfff;"><b>Características del producto</b></p>
            <p><label>Marca: </label>{{form_TipoProducto.marca_id_marca}}
            <label>Tipo: </label>{{form_estiloproducto.tipo_producto_idtipo_producto}}
            <label>Estilo: </label>{{form_Producto.estilo_idestilo}}
            <label for="id_talla_idtalla">Talla: </label>{{form_Producto.talla_idtalla}}
            <label>Color: </label>{{form_Producto.color_idcolor}}
            <label>Género: </label>{{form_Producto.genero_idgener}}
            <label>Combo: </label>{{form_Producto.combo_idcombo}}
            <label>Descripcion: </label>{{form_InventarioProducto.producto_codigo_producto}}
            </p>

            <div class="divider"></div>

            <p>
            <label>Al contado: </label>{{form_Venta.contado_venta}}
            </p>

            <div class="divider"></div>

            <p style="color: #80bfff;"><b>Promoción</b></p>
              <label>Nombre de la promocion: </label>{{form_cliente.nombre_delapromocion}}
              {{form_promocionhasproducto.promocion_idpromocion}}
            <p>

            </p>
            <div class="divider"></div>
            Aquí va la tabla
            <div class="divider"></div>
            <p>
              <label>Tipo de pago: </label>{{form_Venta.tipo_pago_idtipo_pago}}
              <button type="submit" class="save btn btn-default">Guardar</button>
              <button type="submit" class="save btn btn-default">Anular venta</button>
              <label>Código de autorización: </label>{{form_cliente.codigo_autorizacion}}
            </p>
            <div class="divider"></div>
            <div class="divider"></div>
            <!--
            {{ form_Venta.as_p }}
            {{ form_Producto.as_p }}
            {{ form_DetalleVenta.as_p }}
            {{ form_TipoProducto.as_p }}

            {{ form_InventarioProducto.as_p }}
            {{ form_Precio.as_p }}
            {{ form_estiloproducto.as_p}}
            <div class="divider"></div>
            <div class="divider"></div>
            {{ form_Promocion.as_p }}-->




        </form>
    {% endblock %}
