{% extends 'kadoshapp/base.html' %}
{% load staticfiles %}
<!--se añadió la fila anterior-->
   {% block titulo %}
    Punto de venta
   {% endblock %}
    {% block styles %}
      <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
    {% endblock %}

    {% block encabezado %}Punto de venta{% endblock %}
    {% block content %}
        <form method="POST" class="post-form">
          {% csrf_token %}
        <div id="bloque_encabezado" style="background-color: #e6e6ff;">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col l3 m12 s12">
                Elegir caja: {{form_Venta.caja_idcaja}}
            </div>
            <div class="col l4 m12 s12">
              Vendedor:{{form_Venta.vendedor_venta}}
            </div>
            <div class="col l3 m12 s12">
              Bodega: {{form_bodega.bodega_idbodega}}
            </div>
            <div class="col l2 m12 s12">
              <br/>
              <input type="checkbox" id="es_cotizacion" />
              <label style="font-size: 80%" for="es_cotizacion">Cotización</label>{{ form_Venta.es_cotizacion}}
            </div>

          </div>

          <div class="row" style="margin-bottom: 0px;">
            <div class="col l6 m12 s12">
              Cliente:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="filled-in" style="transform: scale(0.5,0.5);" id="check_pornombre" name="pornombre_check" type="checkbox" />
              <label style="font-size: 70%" for="check_pornombre">Por nombre</label>
              {{ form_cliente.nit_del_cliente}}{{form_Venta.cliente_idcliente}}
            </div>
            <div class="col l4 m12 s12">
              </br>
              <input class="filled-in" id="check_mostrar" name="mostrar_check" type="checkbox" />
              <label style="font-size: 80%" for="check_mostrar">Características del producto</label>
              <br/>
              <input class="filled-in" id="check_promocion" name="promocion_check" type="checkbox" />
              <label style="font-size: 80%" for="check_promocion">Es promoción</label>
            </div>
            <div class="col l2 m12 s12">
              <br/>
              <input class="filled-in" id="check_descuento" name="descuento_check" type="checkbox" />
              <label style="font-size: 80%" for="check_descuento">Descuento</label>
              <br/>
              <input class="filled-in" id="check_anular" name="anular_check" type="checkbox" />
              <label style="font-size: 80%" for="check_anular">Anular</label>
            </div>

      </div>

      <div class="row" style="margin-bottom: 0px;">
      <div class="col l2 m12 s12">
      Cantidad:{{form_DetalleVenta.cantidad_venta}}

      </div>
      <div class="col l4 m12 s12">
      Código Barras:{{ form_Producto.codigobarras_producto }}
      </div>
      <div class="col l3 m12 s12">
        Valor:{{form_Precio.valor_precio}}
      </div>
      <div class="col l3 m12 s12">
        Total:{{form_Venta.total_venta}}
      </div>
      </div>
    </div>

      <div class="row" style="margin-bottom: 0px;">
        <ul id="talk">
        <div class="divider"></div>
        <div id="bloque_caracteristicas_producto">
          <p style="color: #80bfff;"><b>Características del producto</b></p>
          <div class="col l6 m12 s12">
              <div class="col  s6">
                <label>Marca: </label>{{form_TipoProducto.marca_id_marca}}
                <label>Tipo: </label>{{form_estiloproducto.tipo_producto_idtipo_producto}}
                <label>Estilo: </label>{{form_Producto.estilo_idestilo}}
                <label for="id_talla_idtalla">Talla: </label>{{form_Producto.talla_idtalla}}

              </div>

              <div class="col  s6">
                <label>Codigo Estilo: </label>{{form_Producto.codigoestilo_producto}}
                <label>Color: </label>{{form_Producto.color_idcolor}}
                <label>Género: </label>{{form_Producto.genero_idgener}}
                <br/>
                <input class="save btn btn-default" id="boton_buscar_caracteristicas" type="button" onclick="buscar_caractesristicas(this)" value="Buscar" name="buscar_caracteristicas"/>
              </div>

          </div>

          <div class="col l6 m12 s12">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Imagen</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 0px;">
              <div class="col l6 m12 s12">
                  <label>Descripcion: </label>{{form_InventarioProducto.producto_codigo_producto}}
                  <input class="save btn btn-default" id="boton_agregar_producto" type="button" onclick="agregar_producto(this)" value="Agregar" name="agregar_producto"/>
              </div>
          </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row" style="margin-bottom: 0px;">
    <div id="bloque_promocion">
      <p style="color: #80bfff;"><b>Promoción</b></p>
      <div class="col l4 m12 s12">
        Nombre de la promocion: {{form_cliente.nombre_delapromocion}}
      </div>
      <div class="col l6 m12 s12">
        <br/>
        {{form_promocionhasproducto.promocion_idpromocion}}
      </div>
      <div class="col l2 m12 s12">
        <br/>
        <input class="save btn btn-default" id="boton_agregar_promocion" type="button" onclick="agregar_promocion(this)" value="Agregar" name="agregar_promocion"/>
      </div>
    </div>
  </div>


  <div class="divider"></div>
  <div class="row" style="margin-bottom: 0px;">
    <div id="bloque_descuento">
    <div class="col l6 m12 s12">
        Descuento: {{form_DetalleVenta.descuento_iddescuento}}
    </div>
    <div class="col l6 m12 s12">
      <br/>
      <input class="save btn btn-default" style=" transform: scale(0.9,0.8); padding-left:1px;padding-right:1px;"id="boton_agregar_descuento" type="button" onclick="agregar_descuento(this)" value="Aplicar descuento" name="agregar_descuento"/>
      <!--button type="submit" class="save btn btn-default">Aplicar Descuento</button-->
    </div>
  </div>
  </div>

  <div class="divider"></div>
  <div class="row" style="margin-bottom: 0px;background-color:#e6f2ff;">
    <div id="bloque_tabla">
      <div class="col l9 m12 s12">
        <table id="tabla_productos">
          <thead>
            <tr style="margin-bottom: 0px; margin-top: 0px; padding-top:0px; padding-botton:0px;">
                <th data-field="id" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Inv</th>
                <th data-field="name" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cod</th>
                <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Cantidad</th>
                <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Producto</th>
                <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Precio</th>
                <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Valor parcial</th>
                <th data-field="price" style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">Remover</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
            </table>
      </div>
      <div class="col l3 m12 s12">
        <label>Tipo de pago: </label>{{form_Venta.tipo_pago_idtipo_pago}}
        <label>Anotaciones: </label>{{form_Venta.anotaciones_venta}}
        <br/>
        <button type="submit" class="save btn btn-default">Realizar Venta</button>
      </div>
    </div>
  </div>

<div class="divider"></div>
<div class="row" style="margin-bottom: 0px;">
  <div id="bloque_anular">
    <div class="col l6 m12 s12">
        Código de autorización: {{form_cliente.codigo_autorizacion}}

    </div>
    <div class="col l6 m12 s12">
        <br/>
        <button type="submit" class="save btn btn-default">Anular venta</button>
    </div>
  </div>
</div>
</form>

    {% endblock %}

    {% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
    <script type="text/javascript">
    /*Espacio para JQuery y busquedas dentro del DOM
    ===========================================================================*/
      //Es importante colocar esta linea antes de llamar a las funciones de busqueda
      //dentro de dropdown, porque obtiene el estado por defecto del dropdown, asi
      //se puede resetear. Hay que hacer con cada dropdown donde se busque.
       var selectDefault = $("#id_cliente_idcliente").html();

        //Función que coloca el cursor en el textbox Nit del cliente, al momento de cargar la página
        //Similar al FormLoad
        $( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
          $('input#id_nit_del_cliente').focus(); //se accede al input con el id que está después de #, //.focus() indica que ahí se colocará el cursor
          $('#bloque_caracteristicas_producto').hide(); //.hide() oculta el elemento con ese id
          $('#bloque_promocion').hide();
          $('#bloque_descuento').hide();
          $('#bloque_anular').hide();
          $('input#id_cantidad_venta').val(1);
          //$('id_caja_idcajaselect').material_select();
        });

        //var cantidadDefault= $("input#id_cantidad_venta").html();

        //Para que funcione el boton de eliminar producto
        function eliminar_fila(button){
          $('#tabla_productos').on('click', '#boton_eliminar', function(){
              $(this).closest ('tr').remove ();
              sumar_valor_parcial(".suma_valor_parcial",'#id_total_venta');
          });
        }

        //Funcion que oculta o muestra el elemento con el id del 2do parametro,
        //al dar clic en el checkbox con el id del primer parametro
        //aqui se envia el primer id como parametro sin #, solo el primero
        click_ocultar_mostrar('check_mostrar',"#bloque_caracteristicas_producto");
        click_ocultar_mostrar('check_promocion',"#bloque_promocion");
        click_ocultar_mostrar('check_descuento',"#bloque_descuento");
        click_ocultar_mostrar('check_anular',"#bloque_anular");
/*
        $( '#check_pornombre' ).on({
            click: function() {
              if(document.getElementById('#check_pornombre').checked) {
                $(seoculta).show();
              }
              else {
                $(seoculta).hide();
              }
            }
        });
      }
      */
        //Funcion para buscar el nit del cliente:
        //el primer parametro es el id del txtbox y el segundo el id del dropdownlist
        //buscar_dropdown_startswith('input#id_nit_del_cliente','#id_cliente_idcliente');

        //Funcion para buscar en un dropdownlist de acuerdo al texto escrito en el textbox
        //dependiendo del estado del checkbox enviado, puede buscar lo siguiente:
        //(checked=False)busca el elemento del dropdown que inicie con el texto del textbox/inputtext
        //(checked=True)busca el elemento del dropdown que contenga el texto del textbox/inputtext
        buscar_dropdown_startswith_condicional('input#id_nit_del_cliente','#id_cliente_idcliente','#check_pornombre');

        //Función que cmprueba si el texto del textbox es igual al del dropdown
        //si es asi pasa el cursor a otro textbox, de lo contrario muestra una alerta
        //y devuelve el dropdown a su estado original. Se le envia ademas el parametro para que se haga un split
        //del texto del elemento seleccionado en el dropdwon. Y otro parametro para saber que posicion del arreglo
        //resultante del split, es la que se usara para la comparacion
        comprobar_pasarsiguiente_mostrarmensaje('input#id_nit_del_cliente','input#id_codigobarras_producto','#id_cliente_idcliente');

        //Función que realiza una acción al leer código de barras
        $( 'input#id_codigobarras_producto' ).keydown(function(e){
          var keyCode = e.keyCode || e.which; //la propiedad wich indica la tecla o el botón que se ha presionado específicamente
                                              //puede ser del teclado o del mouse, normaliza dos eventos: event.keyCode y event.charCode
          if(e.keyCode==13)
          {
            e.preventDefault();
            obtener_producto('input#id_codigobarras_producto','#id_bodega_idbodega');
            //Enviar como parametro el id del elemento txtBox, y el id del dropdown de bodega
            //Importante editar tambien el "data :" en la definicion de la funcion
          }
        });

        //Funcion para sumar la columna de una tabla
        //se le envia como primer parametro, el selector de la clase aplicada a la columna de la tabla_productos
        //luego como segundo, el nombre del 'number input' donde se escribira el resultado
        function sumar_valor_parcial(clase, escribiraqui)
        {
          var sum=0;
          $(clase).each(function() {
              sum += parseFloat($(this).text());
          });
          $(escribiraqui).val(sum);
        }

    /*Espacio para Ajax
    ============================================================================*/
        function obtener_producto(codigo_buscado,bodega_que_vende) {
          //console.log("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx");
            //console.log("Se ejecuta la funcion"); // Solo se comprueba que el llamado a la funcion sea correcto
            $.ajax({
                url : "/Buscar/Producto/", // La URL que llama a la vista
                type : "POST", // Metodo http para realizar el request (peticion al servidor)
                data : { codigobarras_producto : $(codigo_buscado).val(), bodega_venta: $(bodega_que_vende+" option:selected").text()  }, // Datos enviados con el request en formato JSON

                // Si el response es correcto (si la respuesta del servidor es correcta)
                success : function(json) {
                    $(codigo_buscado).val(''); // Se limpia el campo del codigo del producto
                    var res_valorprod=JSON.parse(json.valorprod);
                    var res_inventario=JSON.parse(json.inventario);
                    var res_nombre=JSON.parse(json.nombre);
                    var campos_valorprod =res_valorprod[0].fields;
                    var campos_nombre =res_nombre[0].fields;
                    var cantidad=$('input#id_cantidad_venta').val();
                    var valor_parcial=cantidad*campos_valorprod.valor_precio;
                    //console.log(res_nombre[0].pk);
                    //console.log(campos_valorprod.valor_precio);
                    //console.log(res_inventario[0].pk);
                    //console.log(campos_nombre.nombre_producto);
                    //$('#tabla_productos tr:last').after('<tr>'+ '</tr>');
                    $('#tabla_productos > tbody:last-child').append('<tr>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+res_inventario[0].pk+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+res_nombre[0].pk+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+cantidad+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+campos_nombre.nombre_producto+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;">'+campos_valorprod.valor_precio+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;" class="suma_valor_parcial">'+valor_parcial+'</td>'+
                                                                      '<td style="margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;"> <input id="boton_eliminar" "type="button" onclick="eliminar_fila(this)" value="Eliminar" name="Eliminar" style="text-align: center; margin-bottom: 0px;margin-top: 0px; padding-top:0px; padding-botton:0px;"/> </td>'+
                                                                    '</tr>');
                    //$("#talk").prepend("<li><strong>"+json.codprod+"</strong> - <em> "+json.valorprod[0]+"</em> - <span> "+json.nombre[0]+"</span></li>");
                    $('input#id_valor_precio').val(campos_valorprod.valor_precio);
                    //console.log("success"); // Solo se comprueba mediante la consola, que el llamado fue correcto
                    $('input#id_cantidad_venta').val(1);
                    sumar_valor_parcial(".suma_valor_parcial",'#id_total_venta');
                },
                // Si el response no tuvo exito
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! Ha ocurrido un error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // Se agrega el error al DOM
                    console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
                }
            });
        };
    </script>

    <script type="text/javascript" src="{% static 'js/selectorStartsWith.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/token.js' %}"></script>
    {% endblock %}
