{% extends 'kadoshapp/base.html'  %}
{% load django_tables2 %}
{% load staticfiles %}
{% block titulo %}
 Reporte Productos
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block encabezado %}Reporte Productos{% endblock %}
{% block content %}
<div class="row">
    <div class="col l12 m12 s12">
        <h1 class="page-header"></h1>
    </div>
</div>
<div class="row">
  <div class="col l6 m12 s12">
   <a id="crear_detalle" href="{% url 'reporte_productos_excel' %}" class="btn btn-info btn-block">
     <span class="glyphicon glyphicon-list-alt">Descargar</span>
    </a>
  </div>
  </div>


{% render_table reporte1 %}
{% endblock %}
