{% extends 'kadoshapp/base.html'  %}
{% load django_tables2 %}
{% load staticfiles %}
{% block titulo %}
 Reporte Productos
{% endblock %}
{% block styles %}
  <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block encabezado %}Reporte Productos{% endblock %}
{% block content %}
<form action="/Reporte/Productos/" id="formulario_reporte1" method="POST" class="post-form">
  {% csrf_token %}
<div class="row" style="margin-bottom: 0px;">
<div class="col l12 m12 s12">
<h6> Caracteristicas de busqueda</h6>
    <div class="col s6">
      <label for="codigobarras_producto"><h6>Codigo de barras:</h6> </label>{{ form_producto.codigobarras_producto}}
    <label for="marca_id_marca"><h6>Marca:</h6> </label>{{ form_producto.marca_id_marca}}
    <label for="estilo_idestilo"><h6>Estilo:</h6> </label>{{ form_producto.estilo_idestilo}}
    <label for="genero_idgener"><h6>Genero:</h6> </label>{{ form_producto.genero_idgener}}
    <label for="talla_idtalla"><h6>Talla:</h6> </label>{{ form_producto.talla_idtalla}}
    </div>
    <div class="col s6">
<label for="codigoestilo_producto"><h6>Codigo Estilo:</h6> </label>{{ form_producto.codigoestilo_producto}}
<label for="tipo_producto_idtipo_producto"><h6>Tipo:</h6> </label>{{ form_producto.tipo_producto_idtipo_producto}}

    <label for="color_idcolor"><h6>Color:</h6> </label>{{ form_producto.color_idcolor}}
    <div class="row">
        <div class="col l12 m12 s12">
            <h1 class="page-header"></h1>
        </div>
    </div>
<button type="submit" class="save btn btn-default">Buscar</button>
    </div>
  <div>
</div>

<div class="row">
    <div class="col l12 m12 s12">
        <h1 class="page-header"></h1>
    </div>
</div>
<div class="row">
  <div class="col l6 m12 s12">
    <!--
     <a id="crear_detalle" href="{% url 'reporte_productos_excel' %}"  class="btn btn-info btn-block">
     <span class="glyphicon glyphicon-list-alt">Descargar</span>
   </a>-->
   <input class="save btn btn-default" id="boton_descargar" type="button" onclick="descargar(this)" value="Descargar" name="btn_descargar"/>
  </div>
  </div>

 </form>
{% render_table reporte1 %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
function descargar(boton){
  $(location).attr('href', '/reporte_productos_excel?codigobarras_producto='+$('#id_codigobarras_producto').val()+'&marca_id_marca='+$('#id_marca_id_marca').val()+'&codigoestilo_producto='+$('#id_codigoestilo_producto').val()+'&estilo_idestilo='+$('#id_estilo_idestilo').val()+'&tipo_producto_idtipo_producto='+$('#id_tipo_producto_idtipo_producto').val()+'&talla_idtalla='+$('#id_talla_idtalla').val()+'&color_idcolor='+$('#id_color_idcolor').val()+'&genero_idgener='+$('#id_genero_idgener').val() );
}

</script>
{% endblock %}
