{% extends 'kadoshapp/base.html'  %}
{% load django_tables2 %}
{% load staticfiles %}
{% block titulo %}
 Reporte Gastos
{% endblock %}
{% block styles %}
  <link type="text/css" rel="stylesheet" href="{% static "css/formularios.css" %}"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block encabezado %}Reporte Gastos{% endblock %}
{% block content %}
<form action="/Reporte/Gastos/" id="formulario_reporte1" method="POST" class="post-form">
  {% csrf_token %}
<div class="row" style="margin-bottom: 0px;">
  <div class="col l6 m12 s12">
      <h6> Caracteristicas de busqueda</h6>
      <label for="id_caja_idcaja"><h6>Caja:</h6> </label>{{ form_gastos.caja_idcaja}}
      <label for="marca_id_marca"><h6>Fecha:</h6> </label>{{ form_gastos.momento_gasto}}
  </div>
</div>
<div class="row" style="margin-bottom: 0px;">
  <div class="col l6 m12 s12">
      <button type="submit" class="save btn btn-default">Buscar</button>
  </div>
  <div class="col l6 m12 s12">
   <input class="save btn btn-default" id="boton_descargar" type="button" onclick="descargar(this)" value="Descargar" name="btn_descargar"/>
  </div>
</div>




 </form>
{% render_table reporte1 %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">

$( document ).ready(function(){ //document indica toda la página, ready indica que ya se haya cargado el DOM
  $('input[type="checkbox"]').addClass("filled-in");
  $('#id_momento_gasto').val('');
  cambiar_ruta();
});

var ruta;//variable donde se guardará la ruta
function cambiar_ruta(){ //esta función cambiará la ruta que se envía al view
  //ahora aquí se obtienen los valores de todos los elementos
  ruta=$('#id_caja_idcaja option:selected').val()+'&momento_gasto='+$('#id_momento_gasto').val();
}
$('#id_caja_idcaja').change(function(){//cuando un elemento especifico cambia su valor, en este caso un textbox
  cambiar_ruta();
});
$('#id_momento_gasto').change(function(){ //cuando un elemento especifico cambia su valor, en este caso un textbox
  cambiar_ruta();
});
$("select").change(function (){ //cuando cualquier combobox=select cambia su valor
    cambiar_ruta();
});

function descargar(boton){
  $(location).attr('href', '/reporte_gastos_excel?caja_idcaja='+ruta);
}

</script>
{% endblock %}
