{% load staticfiles %}
<!DOCTYPE hmtl>
<hmtl>
<head><!--cabeceras-->
  <meta charset="utf-8">
  <title>{% block titulo %}{% endblock %}</title><!--Titulo de la pagina-->
        <!--Font de google+iconos-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/mio.css" %}"/>

        <!--Para movil-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
          h3 {
              text-shadow: 2px 2px #212121;
          }
        </style>
</head>
<body class="grey lighten-4">
<!--Nav principal-->
<header>
<section class="wrapper2">
<nav>
    <div class="nav-wrapper grey darken-4 transparent">
      <a href="{% url 'kadoshapp.viewWebInicio.inicio' %}" class="brand-logo">Kadosh</a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <!--ul class="right hide-on">
                <li><a href="productos.html"><i href="productos.html" class="material-icons right">shopping_cart</i>Compras</a></li>
            </ul-->


    </div>
  </nav>
<!--Fin nav-->
<div>
  <table class=" hide-on-med-and-down">
       <thead>
         <tr>
             <th class=" center-align"> <a class="black-text" href="{% url 'kadoshapp.viewWebInicio.inicio' %}">INICIO</a> </th>
             <th class=" center-align"> <a class="black-text" href="{% url 'kadoshapp.viewWebNoticias.noticias' %}">NOTICIAS</a></th>
             <th class=" center-align"> <a class="black-text" href="{% url 'kadoshapp.viewWebProductos.productos' %}">PRODUCTOS</a></th>
             <th class=" center-align"> <a class="black-text" href="{% url 'kadoshapp.viewWebConcacto.contactanos' %}">CONTACTANOS</a></th>
             <th class=" center-align"> <a class="black-text" href="{% url 'kadoshapp.viewWebOfertas.ofertas' %}">OFERTAS</a></th>
         </tr>
       </thead>
     </table>
</div>



  </section>
  </header>
  <div> <!--Barra lateral para moviles-->
    <ul class="side-nav grey darken-4" id="mobile-demo">
      <li><a class="white-text" href="{% url 'kadoshapp.viewWebInicio.inicio' %}">Inicio</a></li>
      <li><a class="white-text" href="{% url 'kadoshapp.viewWebNoticias.noticias' %}">Noticias</a></li>
      <li><a class="white-text" href="{% url 'kadoshapp.viewWebProductos.productos' %}">Productos</a></li>
      <li><a class="white-text" href="{% url 'kadoshapp.viewWebConcacto.contactanos' %}">Contactanos</a></li>
      <li><a class="white-text" href="{% url 'kadoshapp.viewWebOfertas.ofertas' %}">Ofertas</a></li>
    </ul>
  </div>

{% block content %}

{% endblock %}

<!--Inicio de Footer-->
<footer class="page-footer  white">
          <div class="container">
            <div class="row">
              <div class="col l12 m12 s12 center-align">
                <h5 class="black-text">Boutique Kadosh</h5>
                <p class="black-text">San Marcos, Guatemala</p>
              </div>
              <div class="col l12 m12 s12 center-align">
                <h6 class="black-text">Conéctate con nosotros</h6>
                <a href="https://www.facebook.com/boutiquekadosh">
                  <img class="responsive-img" src="{% static "imagenes/facebook-logo.png" %}"></a>

                  <a href="https://www.instagram.com/boutiquekadosh/">
                    <img class="responsive-img" src="{% static "imagenes/insta.png" %}"></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright white">
            <div class="container black-text center-align">
            © 2016 Derechos reservados

            </div>
          </div>
        </footer>
<!--Fin de Footer-->

<!--Importacion de script jQuery y materialize.js-->
<script type="text/javascript"  src= "{% static 'js/jquery-3.1.0.min.js' %}"></script>
 <!--'https://code.jquery.com/jquery-2.1.1.min.js'-->
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<!--para activar boton movil en cel-->
<script type="text/javascript" >
 $(".button-collapse").sideNav();
 </script>
 <!--Funcion de slider-->
<script type="text/javascript">
$(document).ready(function(){
     $('.slider').slider();
   });
</script>
<!--uso de materialbox-->
<script type="text/javascript">
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
<!--Funcion carousel-->
<script type="text/javascript">
 $(document).ready(function(){
      $('.carousel').carousel();
    });
</script>
{% block extrascripts%}
{% endblock %}


</body>
</html>
