<!DOCTYPE hmtl>
<html>
<head><!--cabeceras-->
  <meta charset="utf-8">
  <title>Kadosh Contactos</title><!--Titulo de la pagina-->
        <!--Font de google+iconos-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/mio.css"/>
        <!--Para movil-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-4">
  <!--Nav principal-->
  <header>
  <section class="wrapper2">
  <nav>
      <div class="nav-wrapper grey darken-4 transparent">
        <a href="index.html" class="brand-logo">Kadosh</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on">
                  <li><a href="productos.html"><i  href="productos.html" class="material-icons right">shopping_cart</i>Compras</a></li>
              </ul>


      </div>
    </nav>
  <!--Fin nav-->

  <div>
    <table class=" hide-on-med-and-down">
         <thead>
           <tr>
               <th class=" center-align"> <a class="black-text" href="index.html">INICIO</a> </th>
               <th class=" center-align"> <a class=" black-text" href="noticias.html">LO NUEVO</a></th>
               <th class=" center-align"> <a class=" black-text" href="productos.html">PRODUCTOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="contaco.html">CONTACTANOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="ofertas.html">OFERTAS</a></th>
           </tr>
         </thead>
       </table>
  </div>



    </section>
    </header>
    <div> <!--Barra lateral para moviles-->
      <ul class="side-nav grey darken-4" id="mobile-demo">
        <li><a class="white-text" href="index.html">Inicio</a></li>
        <li><a class="white-text" href="noticias.html">Lo Nuevo</a></li>
        <li><a class="white-text" href="productos.html">Productos</a></li>
        <li><a class="white-text" href="contaco.html">Contactanos</a></li>
        <li><a class="white-text" href="ofertas.html">Ofertas</a></li>
      </ul>
    </div>

<section class="contenido2 wrapper2"><!--Contenido de la pagina-->
  <div class=" row">
    <div class=" col s12 m6 l6"><!--Formulario-->
       <div class="card ">
            <div class="card-content ">
              <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_prefix" type="email" class="validate">
                        <label for="icon_prefix">Correo electronico</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Nombre</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Asunto</label>
                      </div>
                    </div>


                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">message</i>
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Mensaje</label>
                      </div>
                    </div>


                    <div class="row">
                    <div class="col s12">
                    <a class="waves-effect waves-light btn green darken-1">Enviar</a>


                  </div>
                  </div>

                  </form>
                </div>
    </div>
  </div>

</div><!--Fin de form de contacto-->

<div class=" col s12 m6 l6"><!--Google-->
  <div class="card">
       <div class="card-content">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1927.1903310625196!2d-91.78556196391584!3d14.971559699675254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e8105e9e32897%3A0x16fa69521b215e25!2sTerminal+de+Autobuses+San+Pedro+Sac.!5e0!3m2!1ses!2sgt!4v1466912843808" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
</div>
</div><!--FIn google-->


  </div>
</section><!--Fin contenido de la pagina-->








<!--Inicio de Footer-->
<footer class="page-footer  white">
          <div class="container">
            <div class="row">
              <div class="col l12 m12 s12 center-align">
                <h5 class="black-text">Kadosh</h5>
                <p class="black-text">San Marcos,Guatemala.</p>
              </div>
              <div class="col l12 m12 s12 center-align">
                <h5 class="black-text">Conectar</h5>

                  <a href="#" class="grey-text"><i class="material-icons">thumb_up</i></a>
                  <a href="#" class="grey-text"><i class="material-icons  ">comment</i></a>
                  <a href="#" class="grey-text"><i class="material-icons  ">video_library</i></a>

              </div>
            </div>
          </div>
          <div class="footer-copyright white">
            <div class="container black-text center-align">
            © 2016 Copyright Text

            </div>
          </div>
        </footer>
<!--Fin de Footer-->
<!--Importacion de script jQuery y materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!--para activar boton movil en cel-->
<script type="text/javascript" >
 $(".button-collapse").sideNav();
 </script>
</body>
</html>
