{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}Contacto{% endblock %}
{% block content %}
h3 {
    text-shadow: 2px 2px #212121;
}
<section class="contenido2 wrapper2"><!--Contenido de la pagina-->
  <form method="POST" id="formulario_contacto">
    <div class=" row">
      <div class=" col s12 m6 l6"><!--Formulario-->
         <div class="card ">
              <div class="card-content ">
                <div class="row">
                    <form method="POST" id="formulario_contacto">
                      {% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">email</i>
                          {{form_contacto.correo_contacto}}
                          <!--input id="icon_prefix" type="email" class="validate"-->
                          <label for="icon_prefix">Correo electrónico</label>
                          {% if form_contacto.correo_contacto.errors%}
                          <p style="color:red;"><b>Debe escribir un correo electrónico</b></p>
                          {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                          <!--input id="icon_prefix" type="text" class="validate"-->
                          {{form_contacto.nombre_contacto}}
                          <label for="icon_prefix">Nombre</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          {{form_contacto.asunto_contacto}}
                          <!--input id="icon_prefix" type="text" class="validate"-->
                          <label for="icon_prefix">Asunto</label>
                          {% if form_contacto.asunto_contacto.errors%}
                          <p style="color:red;"><b>Debe escribir un asunto</b></p>
                          {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">message</i>
                          {{form_contacto.mensaje_contacto}}
                          <!--textarea id="textarea1" class="materialize-textarea"></textarea-->
                          <label for="textarea1">Mensaje</label>
                        </div>
                      </div>


                      <div class="row">
                      <div class="col s12">
                      <button type="submit" class="waves-effect waves-light btn green darken-1">Enviar</button>

                    </div>
                    </div>

                    </form>
                  </div>
      </div>
    </div>

</div><!--Fin de form de contacto-->

<div class=" col s12 m6 l6"><!--Google-->
  <div class="card">
       <div class="card-content">
         <div class="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1927.213507906918!2d-91.77920382427361!3d14.96898278857162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e810dd8e66a0f%3A0xc6856caf24775076!2sBoutique+Kadosh!5e0!3m2!1ses!2sgt!4v1476227719626" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           <div>
           </div>
</div>
</div><!--FIn google-->


  </div>
</section><!--Fin contenido de la pagina-->
{% endblock %}
