{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}Detalles{% endblock %}
{% block content %}
<style type="text/css">
h3{
    text-shadow: 2px 2px #212121
}  
</style>
<section class="contenido2 wrapper2"><!--Contenido de la pagina-->

<div class="row"><!--producto-->
<div class="col l8 s12 m12"><!--Texto-->

  <div class="card ">
      <div class="card-content ">
         <h5><b>{{producto.nombre_producto}}</b></h5>
         <a>Precio: Q.{{precio.first.valor_precio}}</a>
         <p>{{producto.descripcion_producto|linebreaksbr}}</p>
         <div class="row"><!--Genero-->
            <div class="input-field col l3 s12 m12">
             <label>{{producto.estilo_idestilo.nombre_estilo}}</label>
            </div>
         </div>
         <div class="row"><!--Genero-->
            <div class="input-field col l3 s12 m12">
             <label><b>{{producto.genero_idgener.nombre_genero}}</b></label>
            </div>
         </div>
         <div class="row"><!--Marca-->
            <div class="input-field col l3 s12 m12">
             <label>Marca: <b>{{producto.marca_id_marca.nombre_marca}}</b></label>
            </div>
         </div>
         <div class="row"><!--Talla-->
            <div class="input-field col l3 s12 m12">
             <label>Talla: <b>{{producto.talla_idtalla.nombre_talla}}</b></label>
            </div>
         </div>
         <div class="row"><!--Color-->
            <div class="input-field col l3 s12 m12">
             <label>Color: <b>{{producto.color_idcolor.nombre_color}}</b></label>
            </div>
         </div>
      </div>
  </div>

</div>
<div class=" col s12 l4 m4"><!--Imagen-->
    <div class="card hoverable">
      <div class="card-image">
        <img id='imagen_grande' src='/archivos{{ fotografias.first.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}' class=" materialboxed" width="650" height="300">
        <!--span class="card-title">Titulo</span-->
      </div>
    </div>
    <div class=" carousel">
      {% for foto in fotografias %}
      <div class="carousel-item"><img onclick="agrandar_imagen(this)" src='/archivos{{ foto.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}'></div>
      {% endfor %}
    </div>
</div>

</div><!--fin producto-->
</section><!--Fin de contenido de pagina-->
{% endblock %}
{% block extrascripts%}
<script type="text/javascript">
 function agrandar_imagen(imagen){
    $('#imagen_grande').prop('src',$(imagen).attr('src'));
 }
</script>

{% endblock %}