{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}Detalles{% endblock %}
{% block content %}
h3{
    text-shadow: 2px 2px #212121
}
<section class="contenido2 wrapper2"><!--Contenido de la pagina-->

<div class="row"><!--producto-->
<div class="col l8 s12 m12"><!--Texto-->

  <div class="card ">
       <div class="card-content ">
         <h5>Nombre de producto</h5>
         <a>Precio Q.:00.00</a>
         <p>Toda la descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion</p>
    <div class="row"><!--Talla-->
    <div class="input-field col l3">
     <select>
       <option value="" disabled selected>Talla</option>
       <option value="1">S</option>
       <option value="2">M</option>
       <option value="3">L</option>
     </select>
     <label>Talla</label>
   </div>

   </div>
   <div class="row"><!--color-->
   <div class="input-field col l3">
    <select>
      <option value="" disabled selected>Color</option>
      <option value="1">Rojo</option>
      <option value="2">Azul</option>
      <option value="3">Negro</option>
    </select>
    <label>Talla</label>
  </div> </div>
  </div>
</div>

</div>
<div class=" col s12 l4 m4"><!--Imagen-->
    <div class="card hoverable">
      <div class="card-image">
        <img src="imagenes/r1.jpg" class=" materialboxed" width="650" height="300">
        <span class="card-title">Titulo</span>
      </div>
    </div>
    <div class=" carousel">
    <a class="carousel-item" href="#one!"><img src="imagenes/1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="imagenes/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="imagenes/3.jpg"></a>
  </div>
  </div>

</div><!--fin producto-->
</section><!--Fin de contenido de pagina-->
<% endblock %>
