<!DOCTYPE hmtl>
<html>
<head><!--cabeceras-->
  <meta charset="utf-8">
  <title>kadosh Detalle</title><!--Titulo de la pagina-->
        <!--Font de google+iconos-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/mio.css"/>
        <!--Para movil-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="grey lighten-4">
  <!--Nav principal-->
  <header>
  <section class="wrapper2">
  <nav>
      <div class="nav-wrapper grey darken-4 transparent">
        <a href="index.html" class="brand-logo">Kadosh</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on">
                  <li><a href="productos.html"><i  href="productos.html" class="material-icons right">shopping_cart</i>Compras</a></li>
              </ul>


      </div>
    </nav>
  <!--Fin nav-->

  <div>
    <table class=" hide-on-med-and-down">
         <thead>
           <tr>
               <th class=" center-align"> <a class="black-text" href="index.html">INICIO</a> </th>
               <th class=" center-align"> <a class=" black-text" href="noticias.html">LO NUEVO</a></th>
               <th class=" center-align"> <a class=" black-text" href="productos.html">PRODUCTOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="contaco.html">CONTACTANOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="ofertas.html">OFERTAS</a></th>
           </tr>
         </thead>
       </table>
  </div>



    </section>
    </header>
    <div> <!--Barra lateral para moviles-->
      <ul class="side-nav grey darken-4" id="mobile-demo">
        <li><a class="white-text" href="index.html">Inicio</a></li>
        <li><a class="white-text" href="noticias.html">Lo Nuevo</a></li>
        <li><a class="white-text" href="productos.html">Productos</a></li>
        <li><a class="white-text" href="contaco.html">Contactanos</a></li>
        <li><a class="white-text" href="ofertas.html">Ofertas</a></li>
      </ul>
    </div>

<section class="contenido2 wrapper2"><!--Contenido de la pagina-->

<div class="row"><!--producto-->
<div class="col l8 s12 m12"><!--Texto-->

  <div class="card ">
       <div class="card-content ">
         <h5>Nombre de producto</h5>
         <a>Precio Q.:00.00</a>
         <p>Toda la descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
         descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion</p>
    <div class="row"><!--Talla-->
    <div class="input-field col l3">
     <select>
       <option value="" disabled selected>Talla</option>
       <option value="1">S</option>
       <option value="2">M</option>
       <option value="3">L</option>
     </select>
     <label>Talla</label>
   </div>

   </div>
   <div class="row"><!--color-->
   <div class="input-field col l3">
    <select>
      <option value="" disabled selected>Color</option>
      <option value="1">Rojo</option>
      <option value="2">Azul</option>
      <option value="3">Negro</option>
    </select>
    <label>Talla</label>
  </div> </div>
  </div>
</div>

</div>
<div class=" col s12 l4 m4"><!--Imagen-->
    <div class="card hoverable">
      <div class="card-image">
        <img src="imagenes/r1.jpg" class=" materialboxed" width="650" height="300">
        <span class="card-title">Titulo</span>
      </div>
    </div>
    <div class=" carousel">
    <a class="carousel-item" href="#one!"><img src="imagenes/1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="imagenes/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="imagenes/3.jpg"></a>
  </div>
  </div>

</div><!--fin producto-->

</section><!--Fin de contenido de pagina-->



  <footer class="page-footer  white">
            <div class="container">
              <div class="row">
                <div class="col l12 m12 s12 center-align">
                  <h5 class="black-text">Kadosh</h5>
                  <p class="black-text">San Marcos,Guatemala.</p>
                </div>
                <div class="col l12 m12 s12 center-align">
                  <h5 class="black-text">Conectar</h5>

                    <a href="#" class="grey-text"><i class="material-icons">thumb_up</i></a>
                    <a href="#" class="grey-text"><i class="material-icons  ">comment</i></a>
                    <a href="#" class="grey-text"><i class="material-icons  ">video_library</i></a>

                </div>
              </div>
            </div>
            <div class="footer-copyright white">
              <div class="container black-text center-align">
              © 2016 Copyright Text

              </div>
            </div>
          </footer>
  <!--Fin de Footer-->
  <!--Importacion de script jQuery y materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!--para activar boton movil en cel-->
  <script type="text/javascript" >
   $(".button-collapse").sideNav();
   </script>
  <script type="text/javascript">
  $(document).ready(function(){
      $('.carousel').carousel();
    });
  </script>
<script type="text/javascript">
$(document).ready(function() {
   $('select').material_select();
 });

</script>
</body>
</html>
