
{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}Inicio{% endblock %}
{% block content %}
    h3 {
        text-shadow: 2px 2px #212121;
    }
    <section class="contenido2 wrapper2"><!--Contenido de la pagina-->

    <!--Slider de imagenes-->
    <div>
      <div class="slider">
        <ul class="slides">
        {% for foto in fotosslide %}
          <li>
            <img src='/archivos{{ foto.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}'> <!-- random image -->
            <div class="caption left-align">
              <h3>{{ foto.fotografia_idfotografia__nombre_fotografia }}</h3>
            <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <!--Fin de Slider-->

    <!--Seccion Acerca de...-->

      <div class="section white">
        <div class="row container">
              <h2 class="header">{{ infoindex.first.titulo_index }}</h2>
              <p>{{ infoindex.first.parrafo_index }}</p>
            
          <!--h2 class="header">Kadosh...</h2-->
          <!--p class="grey-text text-darken-3 lighten-3"> Información acerca de la boutique, se puede colocar todo lo que quieran....</p-->
        </div>
      </div>
    <!--Fin seccion acerca de...-->



    <!--Seccion de noticias o articulos nuevos-->
    <div class="row">

      <div class=" col s12 l4 m4">
          <div class="card hoverable">
            <div class="card-image">
              <img src='/archivos{{ fotosinfo.0.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}' class=" materialboxed" width="650" height="400">
              <!--span class="card-title"></span-->
            </div>

            <div class="card-action">
              <a href="#">{{ fotosinfo.0.fotografia_idfotografia__nombre_fotografia}}</a>
            </div>
          </div>
        </div>

      <div class=" col s12 l4 m4">
          <div class="card hoverable">
            <div class="card-image">
            <img src='/archivos{{ fotosinfo.1.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}' class=" materialboxed" width="650" height="400">
              <!--span class="card-title"></span-->
            </div>
            <div class="card-action">
              <a href="#">{{ fotosinfo.1.fotografia_idfotografia__nombre_fotografia}}</a>
            </div>
          </div>
        </div>



        <div class=" col s12 l4 m4">
            <div class="card hoverable">
              <div class="card-image">
                <img src='/archivos{{ fotosinfo.2.fotografia_idfotografia__ruta_fotografia|slice:"1:"}}' class=" materialboxed" width="650" height="400">
                <!--span class="card-title"></span-->
              </div>
              <div class="card-action">
                <a href="#">{{ fotosinfo.2.fotografia_idfotografia__nombre_fotografia}}</a>
              </div>
            </div>
        </div>

        </div>

    <!--Fin de seccion de noticas-->

    <section><!--Fin de seccion de contenido-->

{% endblock %}

{% block extrascripts%}
 
{% endblock %}