{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}News{endblock %}
{% block content %}
h3{
    text-shadow: 2px 2px #212121
}
<section class="contenido2 wrapper2"><!--Contenido de la pagina-->

<div class="row"><!--Arituclo-->
<div class=" col l12">
<div class="card hoverable">
<div class="content">
<div class="col l3 m12 s12"><!--Imagen-->
<img src="imagenes/5.jpg" class="  materialboxed" width="300" height="150">
</div>
<div class=" col l9 m12 s12"><!-- texto-->
  <h5>Titulo</h5>
  <a>Fecha:x/x/x</a>
  <p>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
</div>
<div class="card-action">
  <a href="detallenoticia.html">Detalle</a>
</div>
</div>
</div>
</div>
</div><!--FIn Arituclo-->

<div class="row"><!--Arituclo-->
<div class=" col l12">
<div class="card hoverable">
<div class="content">
<div class="col l3 m12 s12"><!--Imagen-->
<img src="imagenes/5.jpg" class="  materialboxed" width="300" height="150">
</div>
<div class=" col l9 m12 s12"><!-- texto-->
  <h5>Titulo</h5>
  <a>Fecha:x/x/x</a>
  <p>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
</div>
<div class="card-action">
  <a href="detallenoticia.html">Detalle</a>
</div>
</div>
</div>
</div>
</div><!--FIn Arituclo-->

<div class="row"><!--Arituclo-->
<div class=" col l12">
<div class="card hoverable">
<div class="content">
<div class="col l3 m12 s12"><!--Imagen-->
<img src="imagenes/5.jpg" class="  materialboxed" width="300" height="150">
</div>
<div class=" col l9 m12 s12"><!-- texto-->
  <h5>Titulo</h5>
  <a>Fecha:x/x/x</a>
  <p>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
</div>
<div class="card-action">
  <a href="detallenoticia.html">Detalle</a>
</div>
</div>
</div>
</div>
</div><!--FIn Arituclo-->


<div class="row"><!--Arituclo-->
<div class=" col l12">
<div class="card hoverable">
<div class="content">
<div class="col l3 m12 s12"><!--Imagen-->
<img src="imagenes/5.jpg" class="  materialboxed" width="300" height="150">
</div>
<div class=" col l9 m12 s12"><!-- texto-->
  <h5>Titulo</h5>
  <a>Fecha:x/x/x</a>
  <p>Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
  Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto</p>
</div>
<div class="card-action">
  <a href="detallenoticia.html">Detalle</a>
</div>
</div>
</div>
</div>
</div><!--FIn Arituclo-->
</section><!--Fin de contenido de pagina-->
{% endblock %}
