{% extends 'kadoshapp/WEBbase.html' %}
{% block titulo %}Productos{endblock %}
{% block content %}
h3{
    text-shadow: 2px 2px #212121
}
<section class="contenido2 wrapper2"><!--Contenido de la pagina-->

  <div class="row"><!--row seccion de login-->
    <div class=" col l3 s12 m3">
   <div class="card ">
        <div class="card-content ">
          <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Usuario</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="icon_prefix" type="password" class="validate">
                    <label for="icon_prefix">Contraseña</label>
                  </div>
                </div>

                <div class="row">
                <div class="col s12">
                <a class="waves-effect waves-light btn green darken-1">Ingresar</a>


              </div>
              </div>
              <div class="row">
              <div class=" col s12">
                  <a href="recuperarcontrasena.html" class=" cyan-text">Olvide mi contraseña</a>
                      <a href="registrarusuario.html" class=" cyan-text">Registrarse</a>
              </div>
              </div>
              </form>
            </div>
            <!--Inicio de categorias-->
            <div class="row">
              <div class=" col s12">
                <h5>Categorias </h5>
                <div class="col s12">
                    <a href="#" class=" cyan-text">Damas</a>
                </div>
                <div class="col s12">
                    <a href="#" class=" cyan-text">Caballeros</a>
                </div>
                <div class="col s12">
                      <a href="#" class=" cyan-text">Niños</a>
                </div>
                <div class="col s12">
                        <a href="#" class=" cyan-text">Varios</a>
                </div>


              </div>
            </div>
            <!--Fin de categorias-->
        </div>

      </div>

  </div><!--Fin de login-->

<!--Galeria de imagenes-->
  <div class="col s12 l9 m9 ">
    <!--Imagenes de producto-->
    <div class="row">

      <div class=" col s12 l4 m4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="imagenes/5.jpg" class="  materialboxed" width="650" height="300">
              <span class="card-title">Titulo</span>
            </div>

            <div class="card-action">
              <a href="Detalleproducto.html">Detalle</a>
            </div>
          </div>
        </div>

      <div class=" col s12 l4 m4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="imagenes/r1.jpg" class=" materialboxed" width="650" height="300">
              <span class="card-title">Titulo</span>
            </div>
            <div class="card-action">
                <a href="Detalleproducto.html">Detalle</a>
            </div>
          </div>
        </div>



        <div class=" col s12 l4 m4">
            <div class="card hoverable">
              <div class="card-image" >
                <img src="imagenes/4.jpg" class=" materialboxed" width="650" height="300">
                <span class="card-title">Titulo</span>
              </div>

              <div class="card-action">
                <a href="Detalleproducto.html">Detalle</a>
              </div>
            </div>
          </div>

        </div>
     <!--Segunda columna-->
     <div class="row">

       <div class=" col s12 l4 m4">
           <div class="card hoverable">
             <div class="card-image">
               <img src="imagenes/5.jpg" class="  materialboxed" width="650" height="300">
               <span class="card-title">Titulo</span>
             </div>

             <div class="card-action">
                <a href="Detalleproducto.html">Detalle</a>
             </div>
           </div>
         </div>

       <div class=" col s12 l4 m4">
           <div class="card hoverable">
             <div class="card-image">
               <img src="imagenes/r1.jpg" class=" materialboxed" width="650" height="300">
               <span class="card-title">Titulo</span>
             </div>
             <div class="card-action">
                <a href="Detalleproducto.html">Detalle</a>
             </div>
           </div>
         </div>



         <div class=" col s12 l4 m4">
             <div class="card hoverable">
               <div class="card-image" >
                 <img src="imagenes/4.jpg" class=" materialboxed" width="650" height="300">
                 <span class="card-title">Titulo</span>
               </div>

               <div class="card-action">
                  <a href="Detalleproducto.html">Detalle</a>
               </div>
             </div>
           </div>

         </div>

    <!--Fin de seccion de noticas-->

</div>
  <!--fin de row-->

</section>
{% endblcok %}
