<!DOCTYPE hmtl>
<html>
<head><!--cabeceras-->
  <meta charset="utf-8">
  <title>Kadosh Registro</title><!--Titulo de la pagina-->
        <!--Font de google+iconos-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/mio.css"/>
        <!--Para movil-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



</style>
</head>
<body class="grey lighten-4">
  <!--Nav principal-->
  <header>
  <section class="wrapper2">
  <nav>
      <div class="nav-wrapper grey darken-4 transparent">
        <a href="index.html" class="brand-logo">Kadosh</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on">
                  <li><a href="productos.html"><i  href="productos.html" class="material-icons right">shopping_cart</i>Compras</a></li>
              </ul>


      </div>
    </nav>
  <!--Fin nav-->

  <div>
    <table class=" hide-on-med-and-down">
         <thead>
           <tr>
               <th class=" center-align"> <a class="black-text" href="index.html">INICIO</a> </th>
               <th class=" center-align"> <a class=" black-text" href="noticias.html">LO NUEVO</a></th>
               <th class=" center-align"> <a class=" black-text" href="productos.html">PRODUCTOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="contaco.html">CONTACTANOS</a></th>
               <th class=" center-align"> <a class=" black-text" href="ofertas.html">OFERTAS</a></th>
           </tr>
         </thead>
       </table>
  </div>



    </section>
    </header>
    <div> <!--Barra lateral para moviles-->
      <ul class="side-nav grey darken-4" id="mobile-demo">
        <li><a class="white-text" href="index.html">Inicio</a></li>
        <li><a class="white-text" href="noticias.html">Lo Nuevo</a></li>
        <li><a class="white-text" href="productos.html">Productos</a></li>
        <li><a class="white-text" href="contaco.html">Contactanos</a></li>
        <li><a class="white-text" href="ofertas.html">Ofertas</a></li>
      </ul>
    </div>

<section class="contenido2 wrapper2"><!--Contenido de la pagina-->
  <div class="container">
    <div class="card ">
      <div class="card-content ">
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Nombres</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Apellidos</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail</i>
                  <input id="icon_prefix" type="email" class="validate">
                  <label for="icon_prefix">Correo electronico</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mode_edit</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Direccion</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">contact_phone</i>
                  <input id="icon_prefix" type="number" class="validate">
                  <label for="icon_prefix">Telefono</label>
                </div>

                <div class="input-field col s6">
                  <i class="material-icons prefix">stay_current_portrait</i>
                  <input id="icon_prefix" type="number" class="validate">
                  <label for="icon_prefix">Movil</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="icon_prefix" type="password" class="validate">
                  <label for="icon_prefix">Contraseña</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">https</i>
                  <input id="icon_prefix" type="password" class="validate">
                  <label for="icon_prefix">Repetir contraseña</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
      <select>
        <option value="" disabled selected>Pregunta</option>
        <option value="1">Comida favorita</option>
        <option value="2">Nombre de la primer mascota</option>
        <option value="3">Colegio primario</option>
      </select>
      <label>Pregunta de seguridad</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">question_answer</i>
      <input id="icon_prefix" type="text" class="validate">
      <label for="icon_prefix">Respuesta</label>
    </div>
  </div>



              <div class="row">
              <div class="col s12">
              <a class="waves-effect waves-light btn green darken-1">Guardar</a>
            </div>
            </div>
            </form>
          </div>


      </div>

    </div>
  </div>


</section>



<!--Inicio de Footer-->
<footer class="page-footer  white">
          <div class="container">
            <div class="row">
              <div class="col l12 m12 s12 center-align">
                <h5 class="black-text">Kadosh</h5>
                <p class="black-text">San Marcos,Guatemala.</p>
              </div>
              <div class="col l12 m12 s12 center-align">
                <h5 class="black-text">Conectar</h5>

                  <a href="#" class="grey-text"><i class="material-icons">thumb_up</i></a>
                  <a href="#" class="grey-text"><i class="material-icons  ">comment</i></a>
                  <a href="#" class="grey-text"><i class="material-icons  ">video_library</i></a>

              </div>
            </div>
          </div>
          <div class="footer-copyright white">
            <div class="container black-text center-align">
            © 2016 Copyright Text

            </div>
          </div>
        </footer>
<!--Fin de Footer-->
<!--Importacion de script jQuery y materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!--para activar boton movil en cel-->
<script type="text/javascript" >
 $(".button-collapse").sideNav();
 </script>

 <script type="text/javascript">
 $(document).ready(function() {
   $('select').material_select();
 });
 </script>
</body>
</html>
